@mixin theme--xxl() {

    .wpcf7-form .cf_columns div[class*="cf_column-"] div.empty {
        height: 2.2em;
    }
    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, .tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
    #tribe-bar-form .tribe-bar-submit input[type="submit"], #tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"] {
        padding: 0.967em 1.5em 1.067em;
    }
    
    .body_style_boxed .page_wrap {
        max-width: 96vw;
    }
    .sc_testimonials_default [class*="column"] .sc_testimonials_item_content {
        font-size: 1em;
    }
    
    
    
    /* Theme Common styles */

	//html { font-size: 13px; }
	//body { font-size: 14px; line-height:164.2857%; }

	html { font-size: 14px; line-height:164.2857%; }

	/* Tags layouts */
	table th, table td,
	.sc_table table th, .sc_table table td	{
		padding:1rem;
	}
	
	/* Post layouts */
	.post_item_404 .post_content {
		padding: 9em 0 5em;
	}
	.post_item_none_search .post_content {
		padding: 2em 0;
	}

	.post_layout_chess_2 .post_content_inner {   
		display:none;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner,
	.post_layout_chess_2.post_format_link .post_content_inner,
	.post_layout_chess_2.post_format_aside .post_content_inner,
	.post_layout_chess_2.post_format_status .post_content_inner {
		display:block;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote {
		padding: 2em 2em 2em 4em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote:before {
		font-size:2em;
		top: 1em;
		left: 0.7em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner p {
		@include font(1em, 1.25em);
	}
	.post_layout_chess_2.post_format_quote .post_content_inner a,
	.post_layout_chess_2.post_format_quote .post_content_inner cite {
		@include font(0.8667em, 1.25em);
	}
	.post_layout_chess_2.post_format_link .post_content_inner,
	.post_layout_chess_2.post_format_aside .post_content_inner,
	.post_layout_chess_2.post_format_status .post_content_inner {
		@include font(1.2em, 1.4em);
	}
	.post_layout_chess_3 .post_meta,
	.post_layout_chess.post_layout_chess_3 .more-link {
		display:none;
	}
	input[type="radio"] + label:before, input[type="checkbox"] + label:before, input[type="radio"] + .wpcf7-list-item-label:before, input[type="checkbox"] + .wpcf7-list-item-label:before, .wpcf7-list-item-label.wpcf7-list-item-right:before, .edd_price_options ul > li > label > input[type="radio"] + span:before, .edd_price_options ul > li > label > input[type="checkbox"] + span:before {
		top: 4px;
	}
}

@mixin theme--xl() {

    .vc_row.for-slider-controls-outside {
        .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_prev,
        .slider_outer_controls_outside .slider_controls_wrap > .slider_prev {
            left: -3.3em;
            width: 2.8em;
            height: 2.8em;
            line-height: 2.8em;
        }
        .slider_container.slider_controls_outside + .slider_next,
        .slider_outer_controls_outside .slider_controls_wrap > .slider_next {
            right:-3.3em;
            width: 2.8em;
            height: 2.8em;
            line-height: 2.8em;
        }
    }

    .slider_container.slider_controls_side .slider_controls_wrap > .slider_prev, .slider_outer_controls_side .slider_controls_wrap > .slider_prev {
        left: 10px;
    }
    .slider_container.slider_controls_side .slider_controls_wrap > .slider_next, .slider_outer_controls_side .slider_controls_wrap > .slider_next {
        right: 10px;
    }
    .sc_action .sc_action_item_default .sc_action_item_info {
        top: -3em;
        right: 15%;
    }
    .widget_contacts .contacts_logo img,
    a.custom-logo-link img, .sc_layouts_row .sc_layouts_logo img {
        max-height: 6em;
    }
    .widget_contacts .contacts_logo img {
        width: auto;
    }



    /* Theme Common styles */

	// html { font-size: 11px; }
	
	/* Body sizes */
	.content_wrap, .content_container {		width:1160px; }//$xl_page; } 
    .body_style_boxed .sc_layouts_row_fixed_on,
	.body_style_boxed .page_wrap {			width:$xl_page; }
	.body_style_boxed .content_wrap,
	.body_style_boxed .content_container {	width:$xl_page_boxed; }

	.menu_style_side .menu_side_wrap {			width: $xl_menu_side; }
	body.menu_style_left {						margin-left: $xl_menu_side; }
	body.menu_style_right {						margin-right: $xl_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {	margin-left: $xl_menu_side !important;}
	.menu_style_right .sc_layouts_row_fixed_on {margin-right: $xl_menu_side !important;}
	
	/* Content and Sidebar */
	//.sidebar_show .content,
	body.body_style_wide:not(.expand_content) [class*="content_wrap"] > .content {	width: $xl_content; }
	body.body_style_boxed:not(.expand_content) [class*="content_wrap"] > .content {	width: $xl_content_boxed; }
	[class*="content_wrap"] > .sidebar { 											width: $xl_sidebar; }
	body.body_style_boxed [class*="content_wrap"] > .sidebar { 						width: $xl_sidebar_boxed; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:90px;
		padding-right:90px;
	}
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .content { padding-right: $xl_gap + $xl_sidebar; }
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .sidebar { margin-left: -$xl_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .content { padding-left:  $xl_gap + $xl_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .sidebar { margin-right:-$xl_sidebar; }
	
	/* Header */
	.menu_side_icons .toc_menu_item .toc_menu_icon:before {
		font-size: 1.8rem;
	}
	
	/* Mobile menu */
	.menu_mobile .menu_mobile_nav_area li > a {
		@include font(1.2857em, 1.5em);
	}
	.menu_mobile .menu_mobile_nav_area > ul > li > a {
		@include font(2em, 1.5em);
	}

	/* Post layouts */
	.post_item_404 .post_content {
		padding: 0 0 2em;
	}
	.post_item_none_search .post_content {
		padding: 2em 0;
	}

	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		letter-spacing: 0;
		padding: 1em 2em;
	}
	
	.post_layout_classic .post_content {
		font-size:1em;
	}

	.masonry_wrap .masonry_item-1_4,
	.portfolio_wrap.portfolio_4 .post_layout_portfolio {
		width: 33.3333%;
	}
	
	/* Widgets */
	.sidebar[class*="scheme_"] .sidebar_inner {
		padding: 3em 0;
	}
	.sidebar[class*="scheme_"] .widget {
		padding: 0 3em;
	}
	.sidebar .widget+.widget,
	.sidebar[class*="scheme_"] .widget+.widget {
		//padding-top: 3em;
		margin-top: 3em;
	}
	.sidebar .widget + .widget.widget_bg_image,
	.sidebar[class*="scheme_"] .widget + .widget.widget_bg_image,
	.sidebar .widget + .widget.widget_fullwidth,
	.sidebar[class*="scheme_"] .widget + .widget.widget_fullwidth {
		padding-top: 3em;
		padding-bottom: 3em;
	}
}

@mixin theme--lg() {
    
    .vc_row.for-slider-controls-outside {

        .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_prev,
        .slider_outer_controls_outside .slider_controls_wrap > .slider_prev {
            left: -1.4em;
        }
        .slider_container.slider_controls_outside + .slider_next,
        .slider_outer_controls_outside .slider_controls_wrap > .slider_next {
            right: -1.4em;
        }
    }
    
    .post_item_single .post_content > .post_meta_single .post_tags {
        float: none;
        display: block;
        max-width: 100%;
        margin-bottom: 1.7em;
    }
    .post_item_single .post_content > .post_meta_single .post_share {
        float: none;
        display: block;
        max-width: 100%;
    }
    
    .sc_icons .sc_icons_item_title span, .sc_icons .sc_icons_item_description span {
        display: inline;
    }
    .sc_icons.sc_icons_size_large .sc_icons_item_description span {
        display: block;
    }
    .page_content_wrap {
        padding-top: 7vw;
        padding-bottom: 7vw;
    }
    
    .rev_slider_wrapper[data-alias*="content"] .sc_button,
    #rev_slider_2_2_wrapper.rev_slider_wrapper .sc_button,
    #rev_slider_3_2.rev_slider_wrapper .sc_button {
        margin-top: 20px !important;
    }
    
    
    
    /* Theme Common styles */

	//html { font-size: 10px; }
	//body { font-size: 13px; line-height: 161.54%; }

	html { font-size: 13px; line-height: 161.54%; }
    
    .sc_widget_video .trx_addons_video_player.with_cover .cover_title,
    h1, .front_page_section_caption {
        @include font(2.769230769230769rem); //@include font(36px, 50px);//margin-top: 36px;//margin-bottom: 20px;//letter-spacing: 0;
    }
    h2 {
        @include font(2.461538461538462rem); //@include font(32px, 45px);//margin-top: 42px;//margin-bottom: 24px;//letter-spacing: 0;
    }
    .related_wrap_title,h3 {
        @include font(1.846153846153846rem); //@include font(24px, 34px);//margin-top: 40px;//margin-bottom: 22px;//letter-spacing: 0;
    }
    h4 {
        @include font(1.538461538461538rem); //@include font(20px, 28px);//margin-top: 32px;//margin-bottom: 18px;//letter-spacing: 0;
    }
    h5 {
        @include font(1.230769230769231rem); //@include font(16px, 22px);//margin-top: 30px;//margin-bottom: 16px;//letter-spacing: 0;
    }
    h6 {
        @include font(1.076923076923077rem); //@include font(14px, 20px);//margin-top: 28px;//margin-bottom: 12px;//letter-spacing: 0;
    }

	p, ul, ol, dl, blockquote, address {
		margin-bottom: 1em;
	}

	/* Body sizes */
    .body_style_boxed .top_panel_custom_header-default-3 > .vc_row,
    .body_style_boxed .sc_layouts_row_fixed_on,
    .body_style_boxed .sc_layouts_row_fixed {
        padding-right: 2em !important;
        padding-left: 2em !important;
    }
    .body_style_boxed .sc_layouts_row_fixed_on,
    .body_style_boxed .page_wrap {				max-width:100%; width:100%; }
	.content_wrap,
	.content_container {						width:$lg_page !important; }

	.menu_style_side .content_wrap,
	.menu_style_side .content_container {		width: $lg_page_menu_side; }
	.menu_style_side .menu_side_wrap {			width: $lg_menu_side; }
	body.menu_style_left {						margin-left: $lg_menu_side; }
	body.menu_style_right {						margin-right: $lg_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {	margin-left: $lg_menu_side !important;}
	.menu_style_right .sc_layouts_row_fixed_on {margin-right: $lg_menu_side !important;}

	/* Content and Sidebar */
	//.sidebar_show .content,
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content { 
												width: $lg_content; }
	body.menu_style_side:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content {
												width: $lg_content - $lg_menu_side; }
	[class*="content_wrap"] > .sidebar,
	body.body_style_boxed [class*="content_wrap"] > .sidebar {
												width: $lg_sidebar; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:50px;
		padding-right:50px;
	}
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .content { padding-right: $lg_gap + $lg_sidebar; }
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .sidebar { margin-left: -$lg_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .content { padding-left:  $lg_gap + $lg_sidebar; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .sidebar { margin-right: -$lg_sidebar; }
	
	/* Grid */
	.container, .container-fluid,
	.trx_addons_container, .trx_addons_container-fluid {
		padding-left: $lg_grid_gap / 2;
		padding-right: $lg_grid_gap / 2;
	}
	.row, .columns_wrap, .trx_addons_columns_wrap {
		margin-right: -$lg_grid_gap;
	}
	.row > [class*="column-"],
	.columns_wrap > [class*="column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		padding-right: $lg_grid_gap;
	}
	.vc_row.columns_padding_left,
	.row.columns_padding_left,
	.columns_wrap.columns_padding_left,
	.trx_addons_columns_wrap.columns_padding_left  {
		margin-left: -$lg_grid_gap;
	}
	.vc_row.columns_padding_left .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"], .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left,
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: $lg_grid_gap;
	}
	.vc_row.columns_padding_right,
	.row.columns_padding_right,
	.trx_addons_columns_wrap.columns_padding_right,
	.columns_wrap.columns_padding_right {
		margin-right: -$lg_grid_gap;
	}
	.vc_row.columns_padding_right .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"], .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right,
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right: $lg_grid_gap;
	}
	.vc_row,
	.trx_addons_columns_wrap.columns_padding_center,
	.row.columns_padding_center,
	.columns_wrap.columns_padding_center {
		margin-left: -$lg_grid_gap / 2;
		margin-right: -$lg_grid_gap / 2;
	}
	.vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center,
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left: $lg_grid_gap / 2;
		padding-right: $lg_grid_gap / 2;
	}
	.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom,
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom {
		padding-bottom: $lg_grid_gap;
	}
	
	hr, .vc_separator { margin: 4em 0 !important; }
	

	/* Header */
	.menu_side_wrap .sc_layouts_logo {								padding: 55% 8%; }
	.menu_side_icons .toc_menu_item .toc_menu_description span {	letter-spacing:1px;	padding:0 2em; }

	.menu_mobile .menu_mobile_nav_area li > a {
		@include font(1.2308em, 1.5em);
	}

	/* Buttons */
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.theme_button,
	.post_item .more-link,
	.gallery_preview_show .post_readmore,
	.the_mounty_tabs .the_mounty_tabs_titles li a,
	/* BB PRess */
	#buddypress .comment-reply-link,
	#buddypress .generic-button a,
	#buddypress a.button,
	#buddypress button,
	#buddypress input[type="button"],
	#buddypress input[type="reset"],
	#buddypress input[type="submit"],
	#buddypress ul.button-nav li a,
	#buddypress div.activity-meta a,
	a.bp-title-button,
	/* Booked */
	body #booked-profile-page input[type="submit"],
	body #booked-profile-page button,
	body .booked-list-view input[type="submit"],
	body .booked-list-view button,
	body table.booked-calendar input[type="submit"],
	body table.booked-calendar button,
	body .booked-modal input[type="submit"],
	body .booked-modal button,
	/* EDD */
	.edd_download_purchase_form .button,
	#edd-purchase-button,
	.edd-submit.button,
	.widget_edd_cart_widget .edd_checkout a,
	/* MailChimp */
	form.mc4wp-form .mc4wp-form-fields input[type="submit"],
	/* ThemeREX Addons*/
	.sc_button,
	.sc_layouts_row .sc_button,
	.sc_form button,
	/* Tour Master */
	.tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"],
	/* Tribe Events */
	#tribe-bar-form .tribe-bar-submit input[type="submit"],
	#tribe-bar-form button,
	#tribe-bar-form a,
	#tribe-bar-form input,
	#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
	.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
	#tribe-events .tribe-events-button,
	.tribe-events-button,
	.tribe-events-cal-links a,
	.tribe-events-sub-nav li a,
	.tribe-events-read-more,
	#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button,
	/* WooCommerce buttons */
	.woocommerce .button, .woocommerce-page .button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button .woocommerce #respond input#submit, .woocommerce input[type="button"], .woocommerce-page input[type="button"], .woocommerce input[type="submit"], .woocommerce-page input[type="submit"], .woocommerce .woocommerce-message .button, .woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button, .woocommerce #review_form #respond p.form-submit input[type="submit"], .woocommerce-page #review_form #respond p.form-submit input[type="submit"], .woocommerce table.my_account_orders .order-actions .button, .woocommerce table.cart td.actions .button, #add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
	.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled,
	.yith-woocompare-widget a.clear-all {
		@include font(13px, 19px); 
		//padding: 19px;
		//letter-spacing: 0;
	}
	.sc_button_simple {
		padding: 0 1.8em 0 0;
	}

	/* Tab buttons */
	div.esg-filter-wrapper .esg-filterbutton > span,
	.mptt-navigation-tabs li a,
	div.the_mounty_tabs .the_mounty_tabs_titles li a,
	div.the_mounty_tabs .the_mounty_tabs_titles li a.ui-tabs-anchor {
		padding: 0.5em 1.5em 0.7em;
	}
	
	/* Post layouts */
	.post_item .more-link, .gallery_preview_show .post_readmore {
		margin-top: 2em;
	}

	.post_layout_chess_1.post_format_aside .post_meta {
		margin-top: 2rem;
	}
	.post_layout_chess_1 .post_header + .post_content {
		margin-top:2.8rem;
	}
	.post_layout_chess.post_layout_chess_1 .more-link {
		margin-top: 2rem;
	}
	.post_layout_chess_2.post_format_audio .mejs-time,
	.post_layout_chess_3.post_format_audio .mejs-time {
		display:none;
	}
	.post_layout_chess_2 .post_title {
		@include font(18px, 24px);
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote {
		padding: 1.5em 1.5em 1.5em 3em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner blockquote:before {
		font-size: 1.2em;
		top: 1em;
		left: 1em;
	}
	.post_layout_chess_2.post_format_quote .post_content_inner a,
	.post_layout_chess_2.post_format_quote .post_content_inner cite {
		@include font(10px, 12px);
	}
	.post_layout_chess_2 .post_meta,
	.post_layout_chess_2.post_format_link .post_meta,
	.post_layout_chess_2.post_format_status .post_meta,
	.post_layout_chess_3 .post_meta,
	.post_layout_chess_3.post_format_link .post_meta,
	.post_layout_chess_3.post_format_status .post_meta {
		margin-top:0;
	}
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		padding: 1em 1.5em;
	}
	.post_layout_chess_3 .post_title {
		@include font(15px, 1.4em);
	}

	.post_layout_classic blockquote {
		padding: 2.5em 2.5em 2.5em 5em;
	}
	.post_layout_classic blockquote:before {
		top: 1.2em;
		left: 0.8em;
	}

	.post_layout_excerpt .post_header .post_price {
		@include font(2em, 1.5em);
	}
	
	/* Single post */
	.nav-links-single .nav-links,
	.related_wrap,
	.comments_list_wrap,
	.comments_form_wrap {
		margin-top: 4em;
		padding-top: 4em;
	}
	.comments_form_wrap,
	.comments_wrap .form-submit {
		margin-top: 3em;
	}
	.comments_list_wrap .comment_posted {
		font-size:1em;
	}

	/* Widgets */
	.widget .widgettitle {
		@include font(16px, 20px);
	}

	.sc_edd_details .downloads_page_tags .downloads_page_data > a,
	.widget_product_tag_cloud a,
	.widget_tag_cloud a {
		letter-spacing:0;
	}
}

@mixin theme--md() {

    .sc_layouts_row:not(.sc_layouts_row_type_narrow) .sc_layouts_item_details_line2 {
        font-size: 10px;
    }
    .sc_layouts_item_icon {
        font-size: 1.4em;
    }
    .top_panel .sc_layouts_item + .sc_layouts_item  .sc_layouts_iconed_text{
        padding-left: 1em !important;
    }

    .wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel-body,
    .wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel-heading,
    .wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-tab>a {
        border-width: 0;
    }
    
    .properties_page_title_meta {
        text-align:right; 
        margin-top: 0;
    }
    .sc_services_default .sc_services_item_info {
        padding-left: 13%;
        padding-right: 13%;
    }
    .wpcf7-form .cf_columns .cf_column-1_3,
    .wpcf7-form .cf_columns .cf_column-1_4 {  
        width: 49.7%;
    }
    .wpcf7-form .cf_columns .cf_column-2_3,
    .wpcf7-form .cf_columns .cf_column-1_8 {
        width: 24.6%;
    }
    .wpcf7-form .cf_columns + .cf_columns {
        margin-top: 0;
    }
    .wpcf7-form .cf_columns div[class*="cf_column-"] {
        margin-top: 1em;
    }
    
    .esg-filters div.esg-navigationbutton, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span.current, .page_links > span:not(.page_links_title), .page_links > a, .comments_pagination .page-numbers, .nav-links .page-numbers {
        font-size: 1.133rem;
        min-width: 3.4rem;
        width: 3.4rem;
        height: 3.4rem;
        line-height: 3.4rem;
    }
    .vc_tta.vc_tta-tabs.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
        margin-left: 0.1em;
    }
    .wpb-js-composer .vc_tta.vc_tta-tabs.vc_general .vc_tta-tabs-list .vc_tta-tab > a {
        padding: 0.3em 0.7em 0.6em;
    }

    .sc_widget_video .trx_addons_video_player.with_cover .cover_wrap {
        padding-bottom: 8em;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .video_hover, .sc_widget_video .trx_addons_video_player.with_cover .cover_button{
        width: 2.6em;
        height: 2.6em;
        line-height: 2.6em;
    }
    .post_featured_wrap .post_featured_date, .post_item_single .post_featured_wrap .post_featured_date, .post_layout_excerpt .post_featured_wrap .post_featured_date {
        top: 1em;
        left: 1em;
    }

    .post_meta {
        font-size: 14px;
    }
    
    .sc_action_item_title {
        font-size: 2.8em;
    }
    .sc_properties .post_featured.sc_properties_item_thumb .sc_properties_image_info .properties_price_data.properties_price1 {
        font-size: 3em;
    }
    .sc_properties .post_featured.sc_properties_item_thumb .sc_properties_image_info .sc_properties_item_price, 
    .sc_properties .post_featured.sc_properties_item_thumb .sc_properties_image_info .sc_properties_item_price + .sc_properties_item_labels {
        margin-top: 0 !important;
    }
    .sc_properties .post_featured.sc_properties_item_thumb .sc_properties_image_info .sc_properties_item_labels {
        display: none;
    }
    
    .sc_price_item_default .sc_price_item_label, 
    .sc_properties .post_featured.sc_properties_item_thumb .hot-label {
        font-size: 1em;
    }
    .sc_price_item_default .sc_price_item_label:after, 
    .sc_properties .post_featured.sc_properties_item_thumb .hot-label:after {
        font-size: 1.6rem;
    }
    
    .sc_properties .properties_page_features_list{
        margin-right: -1em; 
    }
    .sc_properties .properties_page_features_list > a {
        width: calc(26% - 1em);
        margin-left: 0 !important;
        margin-right: 1em !important;
    }
    
    .rev_slider_wrapper[data-alias*="content"] .sc_button, 
    #rev_slider_2_2_wrapper.rev_slider_wrapper .sc_button,
    #rev_slider_3_2.rev_slider_wrapper .sc_button {
        margin-top: 0 !important;
    }
    .slider_container.slider_controls_side .slider_controls_wrap > .slider_prev, .slider_outer_controls_side .slider_controls_wrap > .slider_prev {
        left: 5px;
    }
    .slider_container.slider_controls_side .slider_controls_wrap > .slider_next, .slider_outer_controls_side .slider_controls_wrap > .slider_next {
        right: 5px;
    }
    .slider_style_default .slider_container.slider_controls_side .slider_controls_wrap > a,
    .slider_style_default.slider_outer_controls_side .slider_controls_wrap > a,
    .slider_style_default .slider_container.slider_controls_top .slider_controls_wrap > a,
    .slider_style_default.slider_outer_controls_top .slider_controls_wrap > a,
    .sc_item_slider .slider_container.slider_controls_side .slider_controls_wrap > a,
    .sc_item_slider.slider_outer_controls_side .slider_controls_wrap > a,
    .sc_item_slider .slider_container.slider_controls_top .slider_controls_wrap > a,
    .sc_item_slider.slider_outer_controls_top .slider_controls_wrap > a,
    .slider_container.slider_controls_outside + .slider_controls_wrap > a,
    .slider_outer_controls_outside .slider_controls_wrap > a {
        display: block !important;
    }
    .sc_properties_default .sc_properties_item_header p br,
    .sc_icons_default .sc_icons_descr br{
        display: none;
    }
    
    

    /* Theme Common styles */

	//html { line-height: 160%; }

    .sc_widget_video .trx_addons_video_player.with_cover .cover_title,
    h1, .front_page_section_caption {
		 @include font(32px);    //@include font(32px, 46px);	margin-top: 30px;	margin-bottom: 16px; 
    }
    h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag),
	h2 { @include font(28px);    //@include font(28px, 38px);	margin-top: 38px;	margin-bottom: 20px; 
    }
    .related_wrap_title,h3 { @include font(22px);    //@include font(22px, 30px);	margin-top: 36px;	margin-bottom: 18px; 
    }
	h4 { @include font(18px);    //@include font(18px, 26px);	margin-top: 30px;	margin-bottom: 16px; 
    }
	h5 { @include font(16px);    //@include font(16px, 22px);	margin-top: 28px; 	margin-bottom: 14px; 
    }
	h6 { @include font(14px);    //@include font(14px, 20px);	margin-top: 24px;	margin-bottom: 10px; 
    }

	/* Body sizes */
	.content_wrap,
	.content_container {						width:$md_content !important; }

	.menu_style_side .content_wrap,
	.menu_style_side .content_container {		width: $md_page_menu_side; }
	.menu_style_side .menu_side_wrap {			width: $md_menu_side; }
	body.menu_style_left {						margin-left: $md_menu_side; }
	body.menu_style_right {						margin-right: $md_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {	margin-left: $md_menu_side !important;}
	.menu_style_right .sc_layouts_row_fixed_on {margin-right: $md_menu_side !important;}

	/* Content and Sidebar */
	//.sidebar_show .content,
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content {
												width:100% !important; float: none; }
	[class*="content_wrap"] > .sidebar {
												width: 100% !important; float:none; margin-top: 4em; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:30px;
		padding-right:30px;
	}
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .content { padding-right: 0 !important; float: none; }
	.body_style_fullwide.sidebar_right [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_right [class*="content_wrap"] > .sidebar { margin-left: 0 !important; float: none; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .content,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .content { padding-left: 0 !important; float: none; }
	.body_style_fullwide.sidebar_left [class*="content_wrap"] > .sidebar,
	.body_style_fullscreen.sidebar_left [class*="content_wrap"] > .sidebar { margin-right: 0 !important; float: none; }

	/* Leave max 5 columns in the gallery */
	.gallery.gallery-columns-9 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 20% !important; }

	/* Header */
	body.no_layout.menu_style_left {	margin-left: 0; }
	body.no_layout.menu_style_right {	margin-right: 0; }
	body.no_layout.menu_style_right .menu_side_wrap {	right: -6rem; }
	body.no_layout.menu_style_left .menu_side_wrap {	left: -6rem; }

	body.no_layout.menu_style_left .sc_layouts_row_fixed_on { padding-left: 0; }
	body.no_layout.menu_style_right .sc_layouts_row_fixed_on {padding-right: 0; }
	
	body.no_layout.menu_style_left .sc_layouts_row_fixed_on { margin-left: 0 !important; }
	body.no_layout.menu_style_right .sc_layouts_row_fixed_on {margin-right: 0 !important; }

	.page_content_wrap {
        padding-top: 7vw;
        padding-bottom: 7vw;
	}

	.top_panel.with_bg_image {
		min-height: 20em;
	}

	/* Slider */
	.top_panel .slider_engine_revo .slide_subtitle {
		margin-bottom: 1em !important;
	}
	.top_panel .slider_engine_revo .slide_button {
		font-size: 12px !important;
	}

	/* Mobile menu */
	.menu_mobile .menu_mobile_nav_area {
		position:relative;
		top: auto;
		margin: 3em 0 0;
		max-height: none;
		padding-right:0;
		overflow-y: visible;
		@include transform-none;
	}
	.menu_mobile .menu_mobile_inner {
		overflow-y: auto;
	}
	.menu_mobile .menu_mobile_nav_area > ul > li > a {
		@include font(1.5em, 1.5em);
	}
	.menu_mobile .menu_mobile_nav_area li li .open_child_menu {
		padding: 0.25em 0.4em;
	}
	.menu_mobile .search_mobile {
		position:relative;
		bottom: auto;
		left: 0;
		margin: 3em auto 0;
	}
	.menu_mobile .socials_mobile  {
		position: relative;
		bottom: auto;
		margin: 1em 0 0;
	}
	.menu_mobile .sc_layouts_logo {
		margin-top: 4em;
	}

	
	/* Tags layouts */
	hr, .vc_separator { 
		margin: 3em 0 !important;
	}

	/* Post layouts */
	.post_item_404:not([class*="post_item_none_"]) .page_title {
		@include font(12em, 1em);
	}

	.format-audio .post_featured.with_thumb .post_audio {
		bottom: 1em;
	}
	
	.post_layout_excerpt + .post_layout_excerpt {
		margin-top: 5em;
	}
	.post_layout_excerpt .post_meta {
		margin-top: 0;
	}
	.post_layout_excerpt .post_header + .post_content {
		margin-top: 2em;
	}
	.post_layout_excerpt .post_header .post_price {
		@include font(1.75em, 1.5em);
	}
	
	.post_layout_chess .post_inner_content {
		padding:0 10%;
	}
	.post_layout_chess .post_title {
		font-size: 16px;
	}
	.post_layout_chess.post_format_quote .post_header,
	.post_layout_chess.post_format_link .post_header,
	.post_layout_chess.post_format_aside .post_header,
	.post_layout_chess.post_format_status .post_header {
		display:none;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		display:block;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		margin-top:0 !important;
	}
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta {
		margin-top: 1em;
	}
	.post_layout_chess .post_header + .post_content {
		margin-top:1em;
		line-height: 1.3846em;
	}
	.post_layout_chess .post_content_inner {
		display:none;
	}
	.post_layout_chess .post_content_inner,
	.post_layout_chess:not(.post_format_quote):not(.post_format_link):not(.post_format_aside):not(.post_format_status) .post_content_inner {
		@include font(1em, 1.3846em);
		max-height: none;
	}
	.post_layout_chess.post_format_chat .post_content_inner {
		display: none;
	}
	.post_layout_chess .post_content_inner:after {
		display:none;
	}
	.post_layout_chess.post_format_link .post_content_inner,
	.post_layout_chess.post_format_aside .post_content_inner,
	.post_layout_chess.post_format_status .post_content_inner {
		font-size: 1.2em;
	}

	.post_layout_chess_3 .post_meta {
		display: block;
	}

	.post_layout_chess blockquote {
		padding: 2em 2em 2em 5em;
	}
	.post_layout_chess blockquote:before {
		top: 1.1em;
		left: 0.7em;
	}
	.post_layout_chess blockquote p {
		@include font(1.3846em, 1.3333em);
	}
	.post_layout_chess blockquote > a, .post_layout_chess blockquote > p > a,
	.post_layout_chess blockquote > cite, .post_layout_chess blockquote > p > cite {
		@include font(12px, 16px);
	}

	.post_layout_chess.post_layout_chess_1 .more-link {
		margin-top: 1.3846em;
	}
	.post_layout_chess_2 {									width: 100%; float:none; }
	.post_layout_chess_2:nth-child(4n+3) .post_featured,
	.post_layout_chess_2:nth-child(4n+4) .post_featured {	float:right; }
	.post_layout_chess_2:nth-child(4n+3) .post_inner,
	.post_layout_chess_2:nth-child(4n+4) .post_inner {		left: 0; right:auto; }
	
	.post_layout_chess_3 {									width: 100%; float:none; }
	.post_layout_chess_3:nth-child(6n+4) .post_featured,
	.post_layout_chess_3:nth-child(6n+5) .post_featured,
	.post_layout_chess_3:nth-child(6n+6) .post_featured {	float:right; }
	.post_layout_chess_3:nth-child(6n+4) .post_inner,
	.post_layout_chess_3:nth-child(6n+5) .post_inner,
	.post_layout_chess_3:nth-child(6n+6) .post_inner {		left: 0; right:auto; }
	
	.post_layout_chess:nth-child(2n+2) .post_featured {		float:left; }
	.post_layout_chess:nth-child(2n+2) .post_inner {		left: auto; right:0; }

	.post_layout_classic blockquote {
		padding: 2em 2em 2em 5em;
	}
	.post_layout_classic blockquote:before {
		top: 1.1em;
		left: 0.7em;
	}
	.post_layout_classic blockquote p {
		font-size: 15px;
	}
	.post_layout_classic blockquote > a, .post_layout_classic blockquote > p > a,
	.post_layout_classic blockquote > cite, .post_layout_classic blockquote > p > cite {
		font-size: 13px;
	}
	.post_layout_classic .swiper-container-horizontal > .swiper-pagination,
	.post_layout_classic .slider_outer > .swiper-pagination {
		bottom: 6px;
	}
	.post_layout_classic .slider_container .swiper-pagination-bullet, 
	.post_layout_classic .slider_outer .swiper-pagination-bullet {
		@include square(6px);
		border-width: 1px;
	}
	.post_layout_classic.format-audio .post_featured.with_thumb .post_audio {
		bottom: 1em;
	}
	.post_layout_classic.post_format_audio .mejs-time {
		display:none;
	}

	.masonry_wrap,
	.portfolio_wrap {
		margin-right:-$md_grid_gap;
	}
	.masonry_wrap .masonry_item,
	.post_layout_portfolio {
		padding:0 $md_grid_gap $md_grid_gap 0;
	}
	.masonry_wrap .masonry_item {
		padding-bottom: 0;
	}
	.masonry_wrap .post_layout_masonry {
		margin-bottom: $md_grid_gap;
	}
	.masonry_wrap .masonry_item-1_3,
	.portfolio_wrap.portfolio_3 .post_layout_portfolio,
	.masonry_wrap .masonry_item-1_4,
	.portfolio_wrap.portfolio_4 .post_layout_portfolio {
		width: 50%;
	}
	
	.gallery_preview .post_description_content {
		display: none !important;
	}
	.gallery_preview_description {
		padding: 0 2em;
	}
	.gallery_preview_show .post_readmore {
		margin-top:0;
	}

	/* Widgets */
	.sidebar .sidebar_inner {
		padding: $md_grid_gap 0;
        margin-right: -20px;
	}
	.sidebar[class*="scheme_"] .sidebar_inner {
		padding: $md_grid_gap $md_grid_gap/2;
	}
	//div:not(.wpb_content_element) > .widget:not(.column-1_1) {
	.sidebar .widget, .sidebar[class*="scheme_"] .widget {
		display: inline-block;
		float:none;
		vertical-align:top;
		width:calc(50% - 20px);
		padding: 7% 5%;
		@include border-box;
        margin-right: 20px;
	}
	.sidebar .widget + .widget, .sidebar[class*="scheme_"] .widget + .widget {
		margin-top: 0;
		padding-top: 7%;
		border-top-width:0;
	}
	.footer_wrap .widget + .widget + .widget,
	.sidebar .widget + .widget + .widget,
	.sidebar[class*="scheme_"] .widget + .widget + .widget {
		margin-top: $md_grid_gap !important;
		//padding-top: $md_grid_gap !important;
		border-top-width:0;
		border-top-style:solid;
	}
	.widget.column-1_3, .widget.column-1_4, .widget.column-1_5, .widget.column-1_6, .widget.column-1_7, .widget.column-1_8, .widget.column-1_9, .widget.column-1_10, .widget.column-1_11, .widget.column-1_12 {
		width:50%;
	}

	.footer_wrap .sc_content .wpb_column:not(.vc_col-sm-12) {
		width: 50% !important;
		float: none;
		display: inline-block;
		vertical-align:top;
	}
	.footer_wrap .sc_content .wpb_column + .wpb_column + .wpb_column + .wpb_column {
		margin-top: $md_grid_gap !important;
		padding-top: $md_grid_gap !important;
		border-top-width:0;
		border-top-style:solid;
	}
	.header_fullwidth .widget,
	.footer_fullwidth .widget {
		width:100% !important;
		display:block !important;
		margin-left:0 !important;
		margin-bottom:0 !important;
	}
}

@mixin theme--sm() {


    .vc_row.for-slider-controls-outside {

        .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_prev,
        .slider_outer_controls_outside .slider_controls_wrap > .slider_prev {
            left: -1em;
        }
        .slider_container.slider_controls_outside + .slider_next,
        .slider_outer_controls_outside .slider_controls_wrap > .slider_next {
            right: -1em;
        }
    }
    
    .vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
    .vc_tta.vc_general .vc_tta-panels .vc_tta-panel-body p + p {
        margin-top: 0;
    }
    .vc_empty_space {
        &[style="height: 6.4vw"], &[style="height:6.4vw"],
        &[style="height: 5.8vw"], &[style="height:5.8vw"] {
            height: 60px !important;
        }
        &[style="height: 7.5vw"], &[style="height:7.5vw"] {
            height: 6em !important;
        }
    }
    .hermes .tp-bullet {
        width: 10px;
        height: 10px;
    }
    .sc_testimonials_default .trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"] {
        padding-bottom: 0;
    }
    
    footer .widget-width-1,
    footer .widget-width-2,
    footer .widget-width-3,
    footer .widget-width-4,
    footer .widget-width-5 {
        width: 100%;
    }
    footer .widget-width-4 {
        padding-left: 0;
    }
    
    .properties_page_title_meta {
        text-align:left;
    }
    .properties_page .properties_page_title_wrap .inner_1 {
        width: 100%;
        text-align: left;
        margin-top: 2em;
    }
    .properties_page .properties_page_title_wrap .inner_2 {
        width: 100%;
        text-align: left;
        margin-top: 0;
        padding-top: 0;
    }
    .properties_page .properties_address {
        font-size: 14px;
    }
    .properties_page .properties_page_details .trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
        padding-top: 0 !important;
    }
    .properties_page .properties_page_features_list .trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
        width:50%;
    }
    .widget .widget_title, .widget .widgettitle {
        font-size: 20px;
    }
    .post_layout_excerpt blockquote:before {
        top: 0.5em;
        left: 0;
    }
    .sc_icons .sc_icons_item_title span, .sc_icons .sc_icons_item_description span {
        display: inline-block;
    }
    .sc_layouts_popup .trx_addons_video_player + .mfp-close {
        right: auto;
        left: 5px;
        top: 5px;
        opacity: 0;
    }
    .sc_layouts_popup .trx_addons_video_player + .mfp-close:hover,
    .sc_layouts_popup .trx_addons_video_player:hover + .mfp-close { 
        opacity: 1;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .video_hover:before, .sc_widget_video .trx_addons_video_player.with_cover .cover_button:before {
        font-size: 30px;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .video_hover, .sc_widget_video .trx_addons_video_player.with_cover .cover_button {
        width: 50px;
        height: 50px;
        line-height: 48px;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .cover_wrap {
        padding-bottom: 4.5em;
    }
    .socials_wrap .social_item .social_icon {
        width: 3em;
        height: 3em;
        line-height: 3em;
    }
    .sc_icons_default .sc_icons_columns_wrap .trx_addons_column-1_3:before, 
    .sc_icons_default .sc_icons_columns_wrap .trx_addons_column-1_6:before{
        display: none;
    }
    
    .wpcf7-form .cf_columns .cf_column-1_3,
    .wpcf7-form .cf_columns .cf_column-1_4 {
        width: 100%;
    }
    .wpcf7-form .cf_columns .cf_column-1_8 {
        width: 49.5%;
    }
    .wpcf7-form div.wpcf7-response-output {
        margin-top: 1em;
    }
    .wpcf7-form .cf_columns + .cf_columns,
    .wpcf7-form .cf_columns .cf_column-1_4 {
        margin-top: 0;
    }
    .wpcf7-form .cf_columns:first-child .cf_column-1_4:first-child {
        margin-top: 0;
    }
    .wpcf7-form .cf_columns div[class*="cf_column-"] div.empty {
        height: 1em;
    }
    
    .sc_price_item_default .sc_price_item_label, 
    .sc_properties .post_featured.sc_properties_item_thumb .hot-label {
        font-size: 1.5em;
    }
    .sc_price_item_default .sc_price_item_label:after, .sc_properties .post_featured.sc_properties_item_thumb .hot-label:after {
        font-size: 2rem;
    }
    header.top_panel_custom_header-default .sc_layouts_column_align_left,
    header.top_panel_custom_header-default .sc_layouts_column_align_right {
        text-align: center;
    }
    .sc_action .sc_action_item_default .sc_action_item_info {
        position: relative;
        top: auto;
        right: auto;
        margin: 2em auto 0;
    }
    .sc_action_item_description > span {
        display: inline;
    }
    .sc_properties .properties_page_features_list > a {
        width: auto;
    }
    button, input[type="button"], input[type="reset"], input[type="submit"], .theme_button, .post_item .more-link, .gallery_preview_show .post_readmore, .the_mounty_tabs .the_mounty_tabs_titles li a, #buddypress .comment-reply-link, #buddypress .generic-button a, #buddypress a.button, #buddypress button, #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress input[type="submit"], #buddypress ul.button-nav li a, #buddypress div.activity-meta a, a.bp-title-button, body #booked-profile-page input[type="submit"], body #booked-profile-page button, body .booked-list-view input[type="submit"], body .booked-list-view button, body table.booked-calendar input[type="submit"], body table.booked-calendar button, body .booked-modal input[type="submit"], body .booked-modal button, .edd_download_purchase_form .button, #edd-purchase-button, .edd-submit.button, .widget_edd_cart_widget .edd_checkout a, form.mc4wp-form .mc4wp-form-fields input[type="submit"], .sc_button, .sc_layouts_row .sc_button, .sc_form button, .tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"], #tribe-bar-form .tribe-bar-submit input[type="submit"], #tribe-bar-form button, #tribe-bar-form a, #tribe-bar-form input, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, .tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a, #tribe-events .tribe-events-button, .tribe-events-button, .tribe-events-cal-links a, .tribe-events-sub-nav li a, .tribe-events-read-more, #tribe-events-footer ~ a.tribe-events-ical.tribe-events-button, .woocommerce .button, .woocommerce-page .button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button .woocommerce #respond input#submit, .woocommerce input[type="button"], .woocommerce-page input[type="button"], .woocommerce input[type="submit"], .woocommerce-page input[type="submit"], .woocommerce .woocommerce-message .button, .woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button, .woocommerce #review_form #respond p.form-submit input[type="submit"], .woocommerce-page #review_form #respond p.form-submit input[type="submit"], .woocommerce table.my_account_orders .order-actions .button, .woocommerce table.cart td.actions .button, #add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled, .yith-woocompare-widget a.clear-all {
        font-size: 11px;
        line-height: 17px;
    }
    .sc_services_default .slider-slide, .sc_services_default .trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"], .sc_services_default .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
        margin-bottom: 42px !important;
    }
    
    
    
    /* Theme Common styles */

	//html { font-size: 9px; }

    .sc_widget_video .trx_addons_video_player.with_cover .cover_title,
    h1, .front_page_section_caption {
		 @include font(28px);}
	h2 { @include font(26px);}
    .related_wrap_title,h3 { @include font(22px);}
	h4 { @include font(18px);}
	h5 { @include font(16px);}
	h6 { @include font(14px);}

	/* Body sizes */
	.content_wrap,
	.content_container {	width: $sm_content !important; }

	.menu_style_side .menu_side_wrap {						width: $sm_menu_side; }
	body.mobile_layout.menu_style_left .menu_side_wrap {	left: -$sm_menu_side; }
	body.mobile_layout.menu_style_right .menu_side_wrap {	right: -$sm_menu_side; }
	.menu_style_left .sc_layouts_row_fixed_on {				margin-left: 0 !important;}
	.menu_style_right .sc_layouts_row_fixed_on {			margin-right: 0 !important;}

	/* Content and Sidebar */
	//.sidebar_show .content,
	body:not(.expand_content):not(.body_style_fullwide):not(.body_style_fullscreen) [class*="content_wrap"] > .content { margin-bottom:0;	}
	[class*="content_wrap"] > .sidebar { margin-top:3em; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:20px;
		padding-right:20px;
	}

	/* Grid */
	.container, .container-fluid,
	.trx_addons_container, .trx_addons_container-fluid {
		padding-left:  $sm_grid_gap / 2;
		padding-right: $sm_grid_gap / 2;
	}
	.row,
	.columns_wrap,
	.trx_addons_columns_wrap {
		margin-right: -$sm_grid_gap;
	}
	.row > [class*="column-"],
	.columns_wrap > [class*="column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		padding-right: $sm_grid_gap;
	}
	.vc_row.columns_padding_left,
	.trx_addons_columns_wrap.columns_padding_left,
	.row.columns_padding_left,
	.columns_wrap.columns_padding_left {
		margin-left: -$sm_grid_gap;
	}
	.vc_row.columns_padding_left .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left,
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: $sm_grid_gap;
	}
	.vc_row.columns_padding_right,
	.trx_addons_columns_wrap.columns_padding_right,
	.row.columns_padding_right,
	.columns_wrap.columns_padding_right {
		margin-right: -$sm_grid_gap;
	}
	.vc_row.columns_padding_right .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right,
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right:$sm_grid_gap;
	}
	.vc_row,
	.trx_addons_columns_wrap.columns_padding_center,
	.row.columns_padding_center,
	.columns_wrap.columns_padding_center {
		margin-left: -$sm_grid_gap / 2;
		margin-right: -$sm_grid_gap / 2;
	}
	.vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center,
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left: $sm_grid_gap / 2;
		padding-right: $sm_grid_gap / 2;
	}
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom,
	.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
		padding-bottom: $sm_grid_gap * 2;
	}
	.row:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.row:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+4),
	.columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="column-"]:nth-child(2n+4),
	.trx_addons_columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="trx_addons_column-"]:nth-child(2n+3),
	.trx_addons_columns_wrap:not(.columns_padding_bottom):not(.columns_fluid) > [class*="trx_addons_column-"]:nth-child(2n+4) {
		padding-top: $sm_grid_gap;
	}

	/* Max column's width in the row */
	.row:not(.columns_fluid) > [class*="column-"],
	.columns_wrap:not(.columns_fluid) > [class*="column-"],
	.trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
		width:100% / $sm_grid_max_columns;
	}
	.row:not(.columns_fluid) > .column-1_1, .row:not(.columns_fluid) > .column-2_2, .row:not(.columns_fluid) > .column-3_3, .row:not(.columns_fluid) > .column-4_4,
	.row:not(.columns_fluid) > .column-5_5,	.row:not(.columns_fluid) > .column-6_6, .row:not(.columns_fluid) > .column-7_7, .row:not(.columns_fluid) > .column-8_8,
	.row:not(.columns_fluid) > .column-9_9, .row:not(.columns_fluid) > .column-10_10,
	.row:not(.columns_fluid) > .column-11_11, .row:not(.columns_fluid) > .column-12_12,
	.columns_wrap:not(.columns_fluid) > .column-1_1, .columns_wrap:not(.columns_fluid) > .column-2_2, .columns_wrap:not(.columns_fluid) > .column-3_3,
	.columns_wrap:not(.columns_fluid) > .column-4_4, .columns_wrap:not(.columns_fluid) > .column-5_5, .columns_wrap:not(.columns_fluid) > .column-6_6,
	.columns_wrap:not(.columns_fluid) > .column-7_7, .columns_wrap:not(.columns_fluid) > .column-8_8, .columns_wrap:not(.columns_fluid) > .column-9_9,
	.columns_wrap:not(.columns_fluid) > .column-10_10, .columns_wrap:not(.columns_fluid) > .column-11_11, .columns_wrap:not(.columns_fluid) > .column-12_12,
/* Uncomments next selector if you want to stretch each 3-th column to 100% */
/*
	.row:not(.columns_fluid) > .column-1_3:nth-child(3n), .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3n),
*/
	.row:not(.columns_fluid) > .column-2_3, .columns_wrap:not(.columns_fluid) > .column-2_3,
	.row:not(.columns_fluid) > .column-1_3.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_3.after_span_2,
	.row:not(.columns_fluid) > .column-2_4, .columns_wrap:not(.columns_fluid) > .column-3_4,
	.row:not(.columns_fluid) > .column-1_4.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_4.after_span_3,
/* Uncomments next selector if you want to stretch each 5-th column to 100% */
/*
	.row:not(.columns_fluid) > .column-1_5:nth-child(5n), .columns_wrap:not(.columns_fluid) > .column-1_5:nth-child(5n),
*/
	.row:not(.columns_fluid) > .column-2_5, .columns_wrap:not(.columns_fluid) > .column-2_5,
	.row:not(.columns_fluid) > .column-3_5, .columns_wrap:not(.columns_fluid) > .column-3_5,
	.row:not(.columns_fluid) > .column-4_5, .columns_wrap:not(.columns_fluid) > .column-4_5,
	.row:not(.columns_fluid) > .column-2_6, .columns_wrap:not(.columns_fluid) > .column-2_6,
	.row:not(.columns_fluid) > .column-3_6, .columns_wrap:not(.columns_fluid) > .column-3_6,
	.row:not(.columns_fluid) > .column-4_6, .columns_wrap:not(.columns_fluid) > .column-4_6,
	.row:not(.columns_fluid) > .column-5_6, .columns_wrap:not(.columns_fluid) > .column-5_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_1, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_2,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_3, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-4_4,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-5_5, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-6_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-7_7, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-8_8,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-9_9, .trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-10_10,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-11_11,.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-12_12,
/* Uncomments next selector if you want to stretch each 3-th column to 100% */
/*
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_3:nth-child(3n),
*/
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_3,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_3.after_span_2,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_4,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_4.after_span_3,
/* Uncomments next selector if you want to stretch each 5-th column to 100% */
/*
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-1_5:nth-child(5n),
*/
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_5,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_5,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-4_5,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-2_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-3_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-4_6,
	.trx_addons_columns_wrap:not(.columns_fluid) > .trx_addons_column-5_6 {
		width:100%;
	}
	
	/* WP Gallery Grid */
	.gallery.gallery-columns-9 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 33.3333% !important; }
	
	img.alignleft, img.alignright,
	figure.alignleft, figure.alignright {
		float:none !important;
		display:block;
		margin: 1em auto !important;
	}

	/* Vertical menus */
	.sc_layouts_menu_dir_vertical .sc_layouts_menu_nav li.menu-item-has-children > a > .open_child_menu {
		display: block;
	}

	/* Header */
	.menu_side_icons .toc_menu_item .toc_menu_icon:before {			font-size: 1.5em; }
	.menu_side_icons .toc_menu_item .toc_menu_description span {	letter-spacing:1px;	padding:0 1.5em; }

	.page_content_wrap {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	/* Search */
	.search_style_fullscreen.search_opened .search_form {
		width: 75%;
	}
	.search_style_fullscreen.search_opened .search_submit,
	.search_style_fullscreen.search_opened .search_field,
	.search_style_fullscreen.search_opened .search_close {
		font-size: 1.5em !important;
		height: 2.5em;
		line-height:2.5em;
	}
	.search_style_fullscreen.search_opened .search_field {
		padding-right: 1.25em !important;
	}
	.search_style_fullscreen.search_opened .search_close {
		top: 50%;
		@include translateY(-50%);
	}
	
	/* Slider */
	.top_panel .slider_engine_revo .slide_subtitle {
		font-size: 14px !important;
	}
	.top_panel .slider_engine_revo .slide_button {
		font-size: 11px !important;
	}

	/* Widgets */
    .widget .widget_title, .widget .widgettitle {
        font-size: 24px;
    }
	.sidebar .sidebar_inner {
		padding: $sm_grid_gap 0;
	}
	.sidebar[class*="scheme_"] .sidebar_inner {
		padding: $sm_grid_gap $sm_grid_gap/2;
	}
	.sidebar .widget,
	.sidebar[class*="scheme_"] .widget {
		width:50%;
		padding: 0 $sm_grid_gap/2;
	}
    .sidebar .sidebar_inner {
        margin-right: 0;
    }
    .sidebar .widget, 
    .sidebar[class*="scheme_"] .widget {
        width: 100%;
        margin: 0;
        padding: 10% 12%;
    }
    .footer_wrap .widget + .widget,
	.sidebar .widget + .widget, .sidebar[class*="scheme_"] .widget + .widget {
		margin-top: $sm_grid_gap !important;
		//padding-top: $sm_grid_gap !important;
	}
	.widget.column-1_3, .widget.column-1_4, .widget.column-1_5, .widget.column-1_6, .widget.column-1_7, .widget.column-1_8, .widget.column-1_9, .widget.column-1_10, .widget.column-1_11, .widget.column-1_12 {
		width:50%;
	}
	.footer_wrap .sc_content .wpb_column + .wpb_column + .wpb_column {
		margin-top: $sm_grid_gap !important;
		padding-top: $sm_grid_gap !important;
	}

	/* Tabs */
	.the_mounty_tabs .the_mounty_tabs_titles {
		margin: 0 0 2em;
	}

	/* Post layouts */
	.post_item_404 .page_title {
		@include font(12em, 1em);
		float: none;
		width:100%;
		text-align:center;
	}
	.post_item_none_search .page_title,
	.post_item_none_archive .page_title {
		font-size:6em;
	}
	.post_item_404 .page_info {
		padding-left: 0;
		padding-top: 2em;
		width:100%;
		text-align:center;
	}
	.post_item_404 .page_description {
		line-height:1.7em;
	}
	.post_item_404 .go_home {
		padding: 1em 2em;
	}

	.post_layout_chess .post_title + .post_meta {
		margin-top:0.4em;
	}
	.post_layout_chess .post_content_inner {
		display:none;
	}
	.post_layout_chess.post_format_quote .post_content_inner + .post_meta,
	.post_layout_chess.post_format_link .post_content_inner + .post_meta,
	.post_layout_chess.post_format_aside .post_content_inner + .post_meta,
	.post_layout_chess.post_format_status .post_content_inner + .post_meta {
		display:none;
	}
	.post_layout_chess blockquote {
		padding: 2em 2em 2em 4em;
	}
	.post_layout_chess blockquote:before {
		top: 1.05em;
		left: 0.5em;
	}
	.post_layout_chess.post_layout_chess_1 .more-link,
	.post_layout_chess.post_layout_chess_2 .more-link,
	.post_layout_chess.post_layout_chess_3 .more-link {
		margin-top: 0;
	}

	.post_layout_excerpt + .post_layout_excerpt {
		margin-top: 4em;
	}
	.post_layout_excerpt .post_header .post_price {
		position:static;
		right: auto;
		top: auto;
		margin-top:0.3em;
	}
	.post_layout_excerpt .post_meta {
		margin-top: 0;
	}
	.post_layout_excerpt .post_header + .post_content {
		margin-top: 1.5em;
	}
	.post_layout_excerpt blockquote {
		padding: 2em 2em 2em 4em;
		margin-left: 0;
		margin-right: 0;
	}
	.post_layout_excerpt blockquote:before {
        top: 0.5em;
        left: 0;
	}
	blockquote > a, blockquote > p > a, blockquote > cite, blockquote > p > cite {
		margin-top: 1.5em;
	}
	
	.masonry_wrap,
	.portfolio_wrap {
		margin-right:0;
	}
	.masonry_wrap .masonry_item,
	.post_layout_portfolio {
		padding:0 0 1.5em 0;
	}
	.masonry_wrap .masonry_item {
		padding-bottom: 0;
	}
	.masonry_wrap .post_layout_masonry {
		margin-bottom: 1.5em;
	}
	.masonry_wrap .masonry_item-1_2,
	.portfolio_wrap.portfolio_2 .post_layout_portfolio,
	.masonry_wrap .masonry_item-1_3,
	.portfolio_wrap.portfolio_3 .post_layout_portfolio,
	.masonry_wrap .masonry_item-1_4,
	.portfolio_wrap.portfolio_4 .post_layout_portfolio {
		width: 100%;
	}
	
	.gallery_preview_description {
		padding: 0 1.6em;
	}

	
	/* Single post */
	.blog_mode_post blockquote, .blog_mode_page blockquote {
		margin-left: 0;
	}
	.post_item_single .post_content > .post_meta_single .post_tags,
	.post_item_single .post_content > .post_meta_single .post_share {
		max-width:none;
		float:none;
		margin-top: 0;
	}
	.post_item_single .post_content > .post_meta_single .post_share {
		margin-top:2em;
	}
	.post_item_single .post_content > .post_meta_single .post_share .social_item:first-child {
		margin-left: 0;
	}
	
	.nav-links-single .nav-links .nav-next a,
	.nav-links-single .nav-links .nav-previous a {
		padding: 0;
	}
	.nav-links-single .nav-links a .nav-arrow {
		position:static;
		left: auto;
		top: auto;
		right: auto;
		display: inline-block;
		margin-bottom: 1em;
	}
	
	.nav-links-single .nav-links,
	.related_wrap,
	.comments_list_wrap,
	.comments_form_wrap {
		margin-top: 3em;
		padding-top: 3em;
	}
	.comments_form_wrap,
	.comments_wrap .form-submit {
		margin-top: 2em;
	}

	
	/* Other minor plugins */
	.mfp-inline-holder .mfp-content,
	.mfp-ajax-holder .mfp-content {
		max-width: 100%;
		max-height: 100%;
	}
	.mfp-arrow-left {
		margin-top:-41px;
	}
}

@mixin theme--xs() {


    .properties_page .properties_page_features_list .trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"],
    .properties_page .properties_page_details .trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
        padding-top: 0 !important;
    }
    .properties_page .properties_page_features_list .trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
        width:100%;
    }
    .wpcf7-form .cf_columns .cf_column-1_2 {
        width: 100%;
    }
    .wpcf7-form .cf_columns.contact-form .cf_column-1_1 {
        margin-top: 1em;
    }
    
    .comments_wrap .comments_author, .comments_wrap .comments_email {
        width: 100%;
        float: none;
    }
    table th, table td, .sc_table table th, .sc_table table td {
        padding: 0.2rem 1%;
    }
    .sc_icons .sc_icons_item_title span, .sc_icons .sc_icons_item_description span {
        display: inline;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .cover_subtitle {
        font-size: 13px;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .cover_title, h1, .front_page_section_caption {
        font-size: 18px;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .cover_wrap {
        padding-bottom: 3.5em;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .video_hover, .sc_widget_video .trx_addons_video_player.with_cover .cover_button {
        width: 40px;
        height: 40px;
        line-height: 33px;
    }
    .sc_widget_video .trx_addons_video_player.with_cover .video_hover::before, .sc_widget_video .trx_addons_video_player.with_cover .cover_button::before {
        font-size: 25px;
    }

    .sc_action .sc_action_item_default .sc_action_item_subtitle {
        font-size: 1em;
    }
    .sc_action_item_title {
        font-size: 28px;
    }
    .rev_slider .sc_button {
        padding:9px 2em 12px;
    }
    h2.sc_item_title.sc_item_title_style_default:not(.sc_item_title_tag) {
        font-size: 26px;
    }

		.widget_contacts .contacts_logo img, 
		a.custom-logo-link img, 
		.sc_layouts_row .sc_layouts_logo img {
		    max-height: 4em;
		}

	html { @include font(13px, 153.84615%); }

    .sc_layouts_title_title > .sc_layouts_title_caption,
    h1, .front_page_section_caption {
		 @include font(28px);}
	h2 { @include font(24px);}
    .related_wrap_title,
	h3 { @include font(20px);}
	h4 { @include font(17px);}
	h5 { @include font(15px);}
	h6 { @include font(13px);}

	.widget .widgettitle {
		@include font(15px, 18px);
	}

	figure figcaption {
		font-size: 12px;
	}
	
	/* Body sizes */
	.content_wrap, .content_container {	width: $xs_content !important; }

	/* Content and Sidebar */
	//.sidebar_show .content,
	[class*="content_wrap"] > .sidebar { margin-top: 3.5em; }

	.menu_style_side .menu_side_wrap {						width: $xs_menu_side; }
	body.mobile_layout.menu_style_left .menu_side_wrap {	left: -$xs_menu_side; }
	body.mobile_layout.menu_style_right .menu_side_wrap {	right: -$xs_menu_side; }
	
	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide .content_wrap {
		padding-left:20px;
		padding-right:20px;
	}

	/* Grid */
	.container, .container-fluid,
	.trx_addons_container, .trx_addons_container-fluid {
		padding-left:  $xs_grid_gap / 2;
		padding-right: $xs_grid_gap / 2;
	}
	.row,
	.columns_wrap,
	.trx_addons_columns_wrap {
		margin-right: -$xs_grid_gap;
	}
	.row > [class*="column-"],
	.columns_wrap > [class*="column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"] {
		padding-right: $xs_grid_gap;
	}
	
	.vc_row.columns_padding_left,
	.trx_addons_columns_wrap.columns_padding_left,
	.row.columns_padding_left,
	.columns_wrap.columns_padding_left {
		margin-left: -$xs_grid_gap;
	}
	.vc_row.columns_padding_left .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_left > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_left,
	.row.columns_padding_left > [class*="column-"], .columns_wrap.columns_padding_left > [class*="column-"],
	.row > [class*="column-"].columns_padding_left, .columns_wrap > [class*="column-"].columns_padding_left {
		padding-left: $xs_grid_gap;
	}
	.vc_row.columns_padding_right,
	.trx_addons_columns_wrap.columns_padding_right,
	.row.columns_padding_right,
	.columns_wrap.columns_padding_right {
		margin-right: -$xs_grid_gap;
	}
	.vc_row.columns_padding_right .vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_right > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_right,
	.row.columns_padding_right > [class*="column-"], .columns_wrap.columns_padding_right > [class*="column-"],
	.row > [class*="column-"].columns_padding_right, .columns_wrap > [class*="column-"].columns_padding_right {
		padding-right:$xs_grid_gap;
	}
	.vc_row,
	.trx_addons_columns_wrap.columns_padding_center,
	.row.columns_padding_center,
	.columns_wrap.columns_padding_center {
		margin-left: -$xs_grid_gap / 2;
		margin-right: -$xs_grid_gap / 2;
	}
	.vc_column_container > .vc_column-inner,
	.trx_addons_columns_wrap.columns_padding_center > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_center,
	.row.columns_padding_center > [class*="column-"], .columns_wrap.columns_padding_center > [class*="column-"],
	.row > [class*="column-"].columns_padding_center, .columns_wrap > [class*="column-"].columns_padding_center {
		padding-left: $xs_grid_gap / 2;
		padding-right: $xs_grid_gap / 2;
	}
	.row.columns_padding_bottom > [class*="column-"], .columns_wrap.columns_padding_bottom > [class*="column-"],
	.row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom,
	.trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
	.trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
		padding-bottom: $xs_grid_gap * 2;
	}

	/* Max column's width in the not-fluid rows */
	.row:not(.columns_fluid) > [class*="column-"],
	.columns_wrap:not(.columns_fluid) > [class*="column-"],
	.trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
		width:100% / $xs_grid_max_columns;
	}
	
	/* Max column's width in the fluid rows */
	.row.columns_fluid > [class*="column-"],
	.columns_wrap.columns_fluid > [class*="column-"],
	.trx_addons_columns_wrap.columns_fluid > [class*="trx_addons_column-"] {
		width:50%;
	}
	.row.columns_fluid > .column-1_1, .columns_wrap.columns_fluid > .column-1_1,
	.row.columns_fluid > .column-2_2, .columns_wrap.columns_fluid > .column-2_2,
	.row.columns_fluid > .column-3_3, .columns_wrap.columns_fluid > .column-3_3,
	.row.columns_fluid > .column-4_4, .columns_wrap.columns_fluid > .column-4_4,
	.row.columns_fluid > .column-5_5, .columns_wrap.columns_fluid > .column-5_5,
	.row.columns_fluid > .column-6_6, .columns_wrap.columns_fluid > .column-6_6,
	.row.columns_fluid > .column-7_7, .columns_wrap.columns_fluid > .column-7_7,
	.row.columns_fluid > .column-8_8, .columns_wrap.columns_fluid > .column-8_8,
	.row.columns_fluid > .column-9_9, .columns_wrap.columns_fluid > .column-9_9,
	.row.columns_fluid > .column-10_10, .columns_wrap.columns_fluid > .column-10_10,
	.row.columns_fluid > .column-11_11, .columns_wrap.columns_fluid > .column-11_11,
	.row.columns_fluid > .column-12_12, .columns_wrap.columns_fluid > .column-12_12 {
		width:100%;
	}


	/* WP Gallery Grid */
	.gallery.gallery-columns-9 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 50% !important; }
	.gallery.gallery-columns-3 .gallery-item {	width: 50% !important; }
	
	
	/* Header */
	.top_panel_mobile {
		display:block;
	}
	body.header_mobile_enabled .top_panel {
		display:none;
	}
	.menu_side_wrap .sc_layouts_logo {
		padding:40% 8%;
	}
	.menu_side_icons .toc_menu_item .toc_menu_icon,
	.menu_side_icons .toc_menu_item .toc_menu_description:before {
		height: 5.5rem;
	}
	.menu_side_icons .toc_menu_item .toc_menu_description span {
		letter-spacing:0;
	}

	.mobile_device .menu_mobile .sc_layouts_logo img,
	.mobile_layout .menu_mobile .sc_layouts_logo img {
		max-height: 40px;
	}
	.mobile_device .menu_mobile .menu_mobile_nav_area,
	.mobile_layout .menu_mobile .menu_mobile_nav_area {
		margin-top: 2em;
	}
	.mobile_device .menu_mobile .search_mobile,
	.mobile_layout .menu_mobile .search_mobile {
		margin-top: 2em;
		width: 280px;
	}
	.menu_mobile .menu_mobile_nav_area > ul > li > a {
		@include font(18px, 1.5em);
	}
	.menu_mobile .menu_mobile_nav_area li > a {
		@include font(14px, 1.5em);
		width: 280px;
	}
	.menu_mobile .menu_mobile_nav_area ul.sc_layouts_submenu {
		width: 250px;
	}
	.menu_mobile .menu_mobile_nav_area li li .open_child_menu {
		padding: 0.3em 0.5em;
	}	
	.top_panel.with_bg_image {
		min-height:18em;
	}
	/* Slider */
	.top_panel .slider_engine_revo .slide_subtitle {
		font-size: 13px !important;
	}
	.top_panel .slider_engine_revo .slide_button {
		font-size: 9px !important;
	}

	/* Widgets */
	.sidebar .widget, .sidebar[class*="scheme_"] .widget {
		width:100%;
	}
	.footer_wrap .widget + .widget,
	.sidebar .widget + .widget, .sidebar[class*="scheme_"] .widget + .widget {
		margin-top: $xs_grid_gap !important;
		padding-top: $xs_grid_gap !important;
		border-top-width:0;
		border-top-style:solid;
	}
	.widget.column-1_2, .widget.column-1_3, .widget.column-1_4, .widget.column-1_5, .widget.column-1_6, .widget.column-1_7, .widget.column-1_8, .widget.column-1_9, .widget.column-1_10, .widget.column-1_11, .widget.column-1_12 {
		width:100%;
	}
	.footer_wrap .sc_content .wpb_column,
	.footer_wrap .sc_content .wpb_column:not(.vc_col-sm-12) {
		display: block;
		float:none;
		vertical-align:top;
		width: 100% !important;
	}
	.footer_wrap .sc_content .wpb_column + .wpb_column {
		margin-top: 4vw !important;//$xs_grid_gap !important;
		padding-top: 0 !important;//$xs_grid_gap !important;
		border-top-width:0;
		border-top-style:solid;
	}

	/* Tags layouts */
	blockquote {
		padding: 2em 2em 2em 5em;
	}
	blockquote:before {
        top: 0.5em;
        left: 0;
	}
	blockquote p {
		font-size:16px;
	}
	blockquote > a, blockquote > p > a,
	blockquote > cite, blockquote > p > cite {
		font-size: 12px;
	}
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="search"],
	select,
	textarea,
	textarea.wp-editor-area,
	/* Tour Master */
	.tourmaster-form-field input[type="text"],
	.tourmaster-form-field input[type="email"],
	.tourmaster-form-field input[type="password"],
	.tourmaster-form-field textarea,
	.tourmaster-form-field select,
	.tourmaster-form-field.tourmaster-with-border input[type="text"],
	.tourmaster-form-field.tourmaster-with-border input[type="email"],
	.tourmaster-form-field.tourmaster-with-border input[type="password"],
	.tourmaster-form-field.tourmaster-with-border textarea,
	.tourmaster-form-field.tourmaster-with-border select,
	/* BB Press*/
	#buddypress .dir-search input[type="search"],
	#buddypress .dir-search input[type="text"],
	#buddypress .groups-members-search input[type="search"],
	#buddypress .groups-members-search input[type="text"],
	#buddypress .standard-form input[type="color"],
	#buddypress .standard-form input[type="date"],
	#buddypress .standard-form input[type="datetime-local"],
	#buddypress .standard-form input[type="datetime"],
	#buddypress .standard-form input[type="email"],
	#buddypress .standard-form input[type="month"],
	#buddypress .standard-form input[type="number"],
	#buddypress .standard-form input[type="password"],
	#buddypress .standard-form input[type="range"],
	#buddypress .standard-form input[type="search"],
	#buddypress .standard-form input[type="tel"],
	#buddypress .standard-form input[type="text"],
	#buddypress .standard-form input[type="time"],
	#buddypress .standard-form input[type="url"],
	#buddypress .standard-form input[type="week"],
	#buddypress .standard-form select,
	#buddypress .standard-form textarea {
		//padding:1em;
	}

	/* Post layouts */
	.post_item_404:not([class*="post_item_none_"]) .page_title {
		font-size: 8em;
	}
	.post_item_404 .page_info {
		padding-top: 1em;
	}
	.post_item_404 .page_description {
		margin-bottom:2em;
	}

	.post_item_none_search .page_title, .post_item_none_archive .page_title {
		font-size:5em;
	}

	.format-audio .post_featured.with_thumb .post_audio {
		bottom: 1em;
	}
	.format-audio .post_featured.with_thumb .post_audio.with_iframe {
		bottom: -3px;
		left: 0;
		right: 0;
	}
	
	.mejs-controls a.mejs-horizontal-volume-slider,
	.mejs-controls .mejs-horizontal-volume-total{
		width:40px;
	}
	
	.post_layout_chess .post_header {
		display:block !important;
	}
	.post_layout_chess .post_title {
		@include font(15px);
		letter-spacing:0;
	}
	.post_layout_chess .post_meta {
		display:none !important;
	}
	.post_layout_chess .post_content {
		display:none;
	}
	.post_layout_chess.post_format_audio .mejs-time {
		display:none;
	}
	
	.gallery_preview_show .post_title {
		@include font(16px, 20px);
	}
	.gallery_preview_description {
		padding: 0 1.4em;
	}
	.gallery_preview_show .post_meta .post_meta_item {
		display:block;
	}
	.gallery_preview_show .post_meta .post_meta_item:before {
		display:none;
	}
	
	.body_style_fullwide .format-video .post_featured.with_thumb .post_video_hover,
	.post_layout_excerpt.format-video .post_featured.with_thumb .post_video_hover,
	.post_layout_chess.format-video .post_featured.with_thumb .post_video_hover,
	.trx_addons_video_player.with_cover .video_hover {
		font-size:2em;
	}

	.page_links > span:not(.page_links_title), .page_links > a, .nav-links .page-numbers {
		//@include square(3em);
		margin: 3px 3px 0 0;
	}
	
		
	/* Single post */
	.post_item_single > .post_featured {
		margin-bottom:2em;
	}
	
	.author_info {
		padding: 2em;
	}
	.author_avatar {
		position:static;
		margin-bottom: 1.5em;
	}
	.author_description{
		padding-left: 0;
	}
	
	.nav-links-single .nav-links .nav-previous {
		padding-right: 8px;
	}
	.nav-links-single .nav-links .nav-next {
		padding-left: 8px;
	}
	.nav-links-single .nav-links .post-title {
		letter-spacing:0;
	}
	.nav-links-single .nav-links .meta-nav,
	.nav-links-single .nav-links .post_date {
		font-size:1em;
	}
	
	.comments_list_wrap .comment_posted {
		font-size:1em;
		display:block;
		margin-left: 0;
	}
	.comments_list_wrap li + li, .comments_list_wrap li ul {
		margin-top:1em;
	}
	.comments_list_wrap ul li + li, .comments_list_wrap li > ul > li {
		padding-top: 1em;
	}
    .comments_list_wrap ul li + li > .comment_body > .comment_author_avatar, 
    .comments_list_wrap li > ul > li > .comment_body > .comment_author_avatar {
        top: 1.4em;
    }
	.comments_list_wrap ul ul {
		margin-left: 2em;
	}
	.comments_list_wrap ul ul ul ul {
		margin-left:0;
	}
	
	
	/* Other minor plugins */
	.mfp-title {
		line-height:13px;
	}
	.body_style_boxed .vc_row.for-slider-controls-outside .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_prev, .body_style_boxed .vc_row.for-slider-controls-outside .slider_outer_controls_outside .slider_controls_wrap > .slider_prev {
		left: -3.5em;
	}
	.body_style_boxed .vc_row.for-slider-controls-outside .slider_container.slider_controls_outside + .slider_next, .body_style_boxed .vc_row.for-slider-controls-outside .slider_outer_controls_outside .slider_controls_wrap > .slider_next {
		right: -3.5em;
	}
}