/* Icons fix */
.booked-icon {
	padding-left: 1px;
}

/* Calendar */
table.booked-calendar tr.days th {
	//border: 1px solid #ddd !important;
	border: none !important;
}
table.booked-calendar td,
table.booked-calendar td+td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Booked form */
body .booked-form .field .checkbox-radio-block label {
	padding-left: 1.4em;
}
body .booked-form .field .checkbox-radio-block label:before {
	line-height: 0.65em;
}

/* Login form */
#booked-page-form .login-remember input {
	display: inline;
	vertical-align:middle;
}

#booked-profile-page i.fa {
	color: inherit;
}

/* User profile header */
#booked-profile-page div.booked-profile-header {
	padding: 0 0 2em;
}
#booked-profile-page div.booked-user-avatar {
	@include box(50px, 50px);
}
#booked-profile-page div.booked-user-avatar img {
	@include border-round;
}
#booked-profile-page .booked-user h3 strong {
	font-weight:400;
}

/* User profile content */
#booked-profile-page div.booked-tab-content {
	@include border-sharp;
}


body .booked-calendar-wrap .booked-appt-list .timeslot:last-child{
  padding-bottom: 17px;
}
body table.booked-calendar th { 
  border-width: 0 0 1px 0;
}