/* Tribe Events Calendar styles
----------------------------------------------------------------- */

.events-archive .entry-content, .events-archive .entry-header {
	width:100%;
}
#tribe-events-bar {
	margin: 6px 0 1.5em;
}
#tribe-bar-form.tribe-bar-mini *,
#tribe-bar-form.tribe-bar-mini label {
	font-size:11px;
}
#tribe-bar-form {
	background:none;
}
#tribe-bar-form input {
	border-bottom-width: 1px !important;
}

/* Views */
#tribe-bar-form #tribe-bar-views,
#tribe-bar-form.tribe-bar-mini #tribe-bar-views {
	left: 83%;
	width: 17% !important;
	padding:0;
	float: none !important;
	.tribe-bar-views-inner {
		position: absolute;
		width: 100%;
		&:before {
			display: none;
			height: auto;
		}
		h3 {
			display: none;
			height: auto;
		}
		#tribe-bar-views-label {
			display: none;
			height: auto;
		}
		.tribe-bar-views-select {
			display: none;
			height: auto;
		}
		.tribe-bar-views-toggle {
			text-align: center;
			span {
				display: none;
			}
			&:after {
				display: none;
			}
		}
	}
}
.tribe-bar-views-inner {
	padding: 0;
	background: none;
}
.tribe-bar-mini .tribe-bar-views-inner {
	padding: 0;
}
#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
	padding: 0;
}
#tribe-bar-views .select_container {
	display:none;
}
#tribe-bar-views .tribe-bar-views-list {
	padding: 0;
	border: none;
	li {
		padding: 10px 15px;
		&:first-child {
			border-top-left-radius: 2em;
			border-top-right-radius: 2em;
		}
		&:last-child {
			border-bottom-left-radius: 2em;
			border-bottom-right-radius: 2em;
		}
	}
}
#tribe-bar-form.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list {
	padding: 0;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-list {
	padding: 1em 0;
}
.tribe-bar-views-list span[class^="tribe-icon-"] {
	display:inline-block;
}

.tribe-bar-views-list span[class^='tribe-icon-'] {		background-image: url(plugins/the-events-calendar/images/events-bar/icon-month.png); }
.tribe-bar-views-list span.tribe-icon-list,
.tribe-bar-view-list span[class^='tribe-icon-'] {		background-image: url(plugins/the-events-calendar/images/events-bar/icon-list.png); }
.tribe-bar-views-list span.tribe-icon-month,
.tribe-bar-view-list a.tribe-icon-month {				background-image: url(plugins/the-events-calendar/images/events-bar/icon-month.png); }
.tribe-bar-views-list span.tribe-icon-week {			background-image: url(plugins/the-events-calendar/images/events-bar/icon-week.png); }
.tribe-bar-views-list span.tribe-icon-day {				background-image: url(plugins/the-events-calendar/images/events-bar/icon-day.png); }
.tribe-bar-views-list span.tribe-icon-photo {			background-image: url(plugins/the-events-calendar/images/events-bar/icon-photo.png); }
.tribe-bar-views-list span.tribe-icon-map {				background-image: url(plugins/the-events-calendar/images/events-bar/icon-map.png); }
@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
	.tribe-bar-views-list span[class^='tribe-icon-'],
	.tribe-bar-view-list a[class^='tribe-icon-'] {		background-image: url(plugins/the-events-calendar/images/events-bar/icon-month@2x.png); }
	.tribe-bar-views-list span.tribe-icon-list,
	.tribe-bar-view-list span[class^='tribe-icon-'] {	background-image: url(plugins/the-events-calendar/images/events-bar/icon-list@2x.png); }
	.tribe-bar-views-list span.tribe-icon-month,
	.tribe-bar-view-list a.tribe-icon-month {			background-image: url(plugins/the-events-calendar/images/events-bar/icon-month@2x.png); }
	.tribe-bar-views-list span.tribe-icon-week {		background-image: url(plugins/the-events-calendar/images/events-bar/icon-week@2x.png); }
	.tribe-bar-views-list span.tribe-icon-day {			background-image: url(plugins/the-events-calendar/images/events-bar/icon-day@2x.png); }
	.tribe-bar-views-list span.tribe-icon-photo {		background-image: url(plugins/the-events-calendar/images/events-bar/icon-photo@2x.png); }
	.tribe-bar-views-list span.tribe-icon-map {			background-image: url(plugins/the-events-calendar/images/events-bar/icon-map@2x.png); }
}


/* Filters */
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters {
	width: 85.5%;
	left: 0%;
	right: auto;
}
.tribe-bar-date-filter, .tribe-bar-search-filter, .tribe-bar-submit,
.tribe-bar-mini .tribe-bar-date-filter, .tribe-bar-mini .tribe-bar-search-filter, .tribe-bar-mini .tribe-bar-submit {
	padding: 0;
}
.tribe-bar-collapse .tribe-bar-date-filter,
.tribe-bar-collapse .tribe-bar-search-filter,
.tribe-bar-collapse .tribe-bar-submit {
	padding: 0;
}
.datepicker {
	z-index:10005 !important;
}
.datepicker table {
	border-collapse: collapse !important;
}
.datepicker table,
.datepicker table td,
.datepicker table th {
	border-width:0 !important;
}
.tribe-bar-date-filter,
.tribe-bar-mini .tribe-bar-date-filter {
	width: 37.9%;
	padding-right: 3.1em;
}
.tribe-bar-mini .tribe-bar-date-filter {
	padding-left:0;
}
.datepicker th, .datepicker td,
.datepicker thead tr:first-child th, .datepicker tfoot tr th {
	@include border-sharp;
}
.tribe-bar-search-filter,
.tribe-bar-mini .tribe-bar-search-filter {
	width: 37.9%;
	padding-right: 2em;
}
.tribe-bar-submit,
.tribe-bar-mini .tribe-bar-submit {
	width: 24.2%;
	padding-right: 2em;
	margin:0;
}
.tribe-bar-search-filter, .tribe-bar-mini .tribe-bar-search-filter,
.tribe-bar-submit, .tribe-bar-mini .tribe-bar-submit {
	padding-right: 3em;
}
#tribe-bar-form label {
	display:none;
	text-transform:none;
	font-size:1em;
	margin-bottom: 1.1em;
}
#tribe-bar-form input[type="text"] {
    font-size: 1em;
    text-transform: none;
	border: none;
	padding: 1.071428571428571em 2.2em 1.2857142857em;
    font-style: normal;
    @include border-radius(2em);
    outline: none !important;
}
#tribe-bar-form input[type="text"]::placeholder{
    font-style: normal;
    text-transform: none;
    font-size: 1em;
}
#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"] {
	padding: 1.1667em 1.5em;
	border: none;
	margin:0;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	padding: 1.1667em 2em;
	display:block;
	text-align:left;
}

/* Page title */
.tribe-events-page-title {
	display:none;
}

/* Page content */
#tribe-events-content.tribe-events-month {
	@include font(14px, 1.4em);
}
#tribe-events-content {
	padding:0;
	margin: 3.3em 0 0;
}
#tribe-events-footer, #tribe-events-header {
	margin:0;
}
#tribe-events-content table.tribe-events-calendar {
	margin: 0 0 2em;
	font-size:1em;
}

body.tribe-events-day {
	padding: 0;
}

.events-list #tribe-events-footer,
.tribe-events-day #tribe-events-footer,
.tribe-events-map #tribe-events-footer,
.tribe-events-calendar + #tribe-events-footer {
	margin: 3.4em 0 1.8em;
}
.events-list #tribe-events-footer,
.single-tribe_events #tribe-events-footer,
.tribe-events-day #tribe-events-footer,
.tribe-events-map #tribe-events-footer,
.tribe-events-photo #tribe-events-footer {
	padding-top: 3em;
	border-top-style:dotted;
}

/* Calendar */
.tribe-events-calendar thead th {
    font-size: 0.933em;
	padding: 1.8em 0 !important;
	font-weight:400;
	letter-spacing:0;
	text-transform:uppercase;
	position:relative;
}
.tribe-events-calendar thead th + th:before {
	content: ' ';
	@include box(1px, 100%);
	@include abs-pos(0, 0, auto, -1px, 1);
	margin-top:0;
}
#tribe-events-content .tribe-events-calendar td {
	font-size:1em;
	padding:0;
	height:10em;
	text-align:left;
    border-bottom: none !important;
}
#tribe-events-content .tribe-events-calendar td:hover {
	box-shadow: none;
	background:none;
}
.tribe-events-calendar td div[id*="tribe-events-daynum-"],
.tribe-events-calendar td div[id*="tribe-events-daynum-"] a {
	@include font(1em, '', 400);
}

.tribe-events-calendar td div[id*="tribe-events-daynum-"] {
	padding: 0.8em 1.7em;
	margin-bottom:0;
	text-align:left;
}
.tribe-events-calendar td div[id*="tribe-events-daynum-"], .tribe-events-calendar td div[id*="tribe-events-daynum-"] > a,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a,
.tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a {
	background: none;
}
#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover,
.tribe-events-calendar td.tribe-events-present.mobile-active,
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*="tribe-events-daynum-"] a {
	background-color: transparent;
}
.tribe-events-calendar td.tribe-events-present {
	position:relative;
}
.tribe-events-calendar td.tribe-events-present:before {
	content:' ';
	@include abs-pos(0, 0, 0, -1px);
	border: 1px solid #ddd;
    pointer-events: none;
}
.tribe-events-calendar tbody tr:first-child td.tribe-events-present:before {
    border-top: none;
}
.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
	margin:0;
	padding: 13% 6%;
}
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {
	@include font(15px, '', 400);
}

/* Mobile view */
.tribe-bar-collapse #tribe-bar-collapse-toggle {
	padding: 0.6em 1.5em;
	width: 66%;
	@include font(14px, '', 400);
    @include border-radius(2em);
}
#tribe-bar-collapse-toggle span.tribe-bar-toggle-arrow:after {
	content: '\e828';
	font-family: $theme_icons;
	@include square(1em);
	top:0.5em;
	border: none;
}
#tribe-bar-collapse-toggle.tribe-bar-filters-open span.tribe-bar-toggle-arrow:after {
	content: '\e835';
	top:5px;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views .tribe-bar-views-list {
	padding:0;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views {
	float:right;
	width:32%;
}
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-date-filter,
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-search-filter,
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-submit {
	float:left;
	width: 32%;
}
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-date-filter,
.tribe-bar-collapse .tribe-bar-filters-inner > .tribe-bar-search-filter {
	margin-right:2%;
}
.tribe-events-calendar .tribe-events-has-events.mobile-trigger:after {
	margin: 1.5em auto 0;
}
.tribe-events-calendar td.mobile-trigger div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.mobile-trigger div[id*="tribe-events-daynum-"] a {
	margin-top: 0;
}
.tribe-mobile-day-heading {
	@include font(1.4286em, 1.25em);
}
#tribe-mobile-container {
	margin-bottom: 2em;
}
#tribe-mobile-container .type-tribe_events {
	padding-top:1em;
}
#tribe-mobile-container .type-tribe_events h4 {
	font-size: 1.0714em;
	margin-bottom: 1em;
}
#tribe-mobile-container .type-tribe_events .tribe-event-date-start {
	display: inline-block;
	margin-bottom: 0.8em;
}
#tribe-mobile-container .type-tribe_events .tribe-events-read-more {
	margin-top:0;
	padding:0;
}


/* Tooltip */
.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip {
	padding:0;
	bottom: 5.5em !important;
	left: -2em;
	width: 32.5em;
	z-index:10000;
	text-transform:none;
}
.tribe-events-tooltip .tribe-events-arrow {
	background:none;
	@include square(14px);
	bottom: -7px;
	left: 5.2em;
	display:block;
	@include rotate(45deg);
}
.tribe-events-tooltip .tribe-events-event-body {
	@include font(1em, 1.8em);
	padding: 1em 1.8em 1.5em;
}
#tribe-events-content .tribe-events-tooltip h4 {
	@include font(1.4em, 1.25em, 400);
	padding: 1.2em 1.2em 2.5em;
}
.tribe-events-tooltip .tribe-event-duration {
	margin:-4.5em 0 2em;
	line-height: 1.5em;
	height: 3em;
	overflow:hidden;
}
.tribe-events-tooltip .tribe-events-event-thumb {
	padding:0.5em 1.5em 0 0;
}
.tribe-events-tooltip .tribe-event-description p {
	margin:0;
	line-height: 1.7em;
}
.tribe-events-tooltip .tribe-event-description p+p {
	margin-top:1em;
}

/* Buttons and Navigation */
#tribe-events-footer .tribe-events-sub-nav {
	text-align: center;
}
#tribe-events-footer .tribe-events-sub-nav:after {
	content: ' ';
	display: inline-block;
	width: 100%;
	height: 0;
}
#tribe-events-footer .tribe-events-sub-nav li {
	width: auto !important;
	margin:0 !important;
	padding:0 !important;
	overflow:hidden;
	display: inline-block !important;
	vertical-align: top;
	float: none !important;
	text-align: justify;
}
#tribe-events-footer .tribe-events-sub-nav li a {
	white-space:nowrap;
}
#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next {
	text-align: right;
}
.tribe-events-sub-nav li a span {
	display: none !important;
}
#tribe-events .tribe-events-button:after,
.tribe-events-button:after,
.tribe-events-cal-links a:after,
.tribe-events-sub-nav li.tribe-events-nav-next a:after {
	content:'\e93a';
	font-family:$theme_icons;
	margin-left: 0.5em;
}
.tribe-events-sub-nav li.tribe-events-nav-previous a:before {
	content:'\e939';
	font-family:$theme_icons;
	margin-right: 0.5em;
}

/* Buttons */
.tribe-events-read-more {
	display:block;
	margin-top:1.5em;
	padding: 0 !important;
}


/* Events list */
.events-list .tribe-events-loop, .single-tribe_organizer .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .tribe-events-day .tribe-events-loop {
	max-width: 770px;
}
.tribe-events-list .tribe-events-list-separator-month {
	margin: 3.5em auto;
	text-transform:uppercase;
	letter-spacing:2px;
	@include font(1.25em, 1.6em, 400);
}
.tribe-events-list .tribe-events-list-separator-month:first-child {
	margin-top:2em;
}

.tribe-events-list .tribe-events-event-cost {
	margin:0;
	display:block !important;
	@include abs-rt;
}
.tribe-events-list .tribe-events-event-cost span {
	padding:0.6em 1em;
	font-weight:400;
}

.tribe-events-list .tribe-events-event-meta {
	font-weight:400;
}
.tribe-events-event-meta address.tribe-events-address,
.tribe-events-list .tribe-events-venue-details {
	line-height: 1.5em;
	font-style:normal;
}
.tribe-events-event-meta .tribe-event-schedule-details {
	margin-bottom:0.8em;
	font-size:1em;
	font-style:normal;
	letter-spacing:0;
}
.tribe-events-list .type-tribe_events,
.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first {
	padding:0;
	margin:0;
}
.tribe-events-list .type-tribe_events + .type-tribe_events,
.tribe-events-day .tribe-events-day-time-slot + .tribe-events-day-time-slot + .tribe-events-day-time-slot {
	border-top: 1px solid #eee;
	margin-top: 4em;
	padding-top:4em;
}
.tribe-events-list .tribe-events-event-image {
	margin-top:0.4em;
	width: 30%;
	float:left;
}
.tribe-events-list .tribe-events-loop .tribe-events-content {
	text-align:justify;
}
#tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
	line-height:1.8em;
}
.tribe-events-loop .tribe-events-content {
	padding-right:0;
}


/* Evets day */
#tribe-events-day {
	padding:0;
}
.tribe-events-day .tribe-events-day-time-slot h5 {
	margin: 0 0 1em;
	padding:1em 2em;
}
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events {
	margin-left: 0;
}


/* Single event */
#tribe-events-content.tribe-events-single {
	margin-top:0;
}
.tribe-events-back {
	display:none;
}
.tribe-events-notices {
	margin:0 0 1em 0;
	@include border-sharp;
}
.single-tribe_events .tribe-events-single-event-title {
	@include font(2em, 1.2em);
	letter-spacing:2px;
	margin:0;
	text-align:center;
}
.tribe-events-notices + .tribe-events-single-event-title {
	margin-top: 1.5em;
}
.tribe-events-schedule {
	position:relative;
}
.tribe-events-schedule h2 {
	@include font(12px, '', 400);
	text-transform:uppercase;
	letter-spacing:1px;
	margin:0;
	display:block;
	text-align:center;
}
.single-tribe_events .tribe-events-schedule .tribe-events-divider,
.single-tribe_events .tribe-events-schedule .tribe-events-cost {
	font-size: 1em;
}
.single-tribe_events .tribe-events-schedule .tribe-events-divider {
	display: none;
}
.single-tribe_events .tribe-events-schedule .tribe-events-cost {
	@include abs-rt;
	font-weight:400;
}
.single-tribe_events .tribe-events-single-event-title,
.single-tribe_events .tribe-events-schedule {
	display:none;
}
.single-tribe_events .tribe-events-event-image {
	float: left;
	width: 40%;
	margin: 0.4em 3% 2em 0;
}
.single-tribe_events .tribe-events-event-meta {
	@include font(1em, 1.25em);
}
.single-tribe_events .tribe-events-cal-links:after {
	content:' ';
	@include clear;
}
.single-tribe_events .type-tribe_events {
	padding-top: 0;
}

.single-tribe_events .tribe-events-single-section {
	clear:none;
	float:left;
	width: 50%;
	margin: 0;
	padding: 3em 0 0;
	border: none;
	background-color:transparent;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group {
	padding:0;
	margin:0;
	width: 40%;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-venue-map {
	width: 50%;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-venue-map > div {
	height: 250px !important;
}
.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group + .tribe-events-meta-group {
	margin-left:3em;
}
.single-tribe_events .tribe-events-meta-group .tribe-events-single-section-title {
	margin-top:0;
	font-size: 1.2em;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt,
.single-tribe_events #tribe-events-content .tribe-events-event-meta dd {
	line-height:1.4em;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
	@include font(1.0667em, '', 400, normal);
	letter-spacing:0;
}
.single-tribe_events .tribe-events-venue-map {
	margin:0;
	@include border-sharp;
}
.single-tribe_events #tribe-events-footer {
	border-top: none;
}
.single-tribe_events .tribe-events-sub-nav li a {
	white-space:normal;
}
.single-tribe_events .tribe-events-sub-nav li a:before,
.single-tribe_events .tribe-events-sub-nav li a:after {
	display:inline-block;
	line-height:inherit;
	margin: 0 0.3em 0 0;
}
.single-tribe_events .tribe-events-sub-nav li a:after {
	margin: 0 0 0 0.3em;
}
.single-tribe_events .tribe-events-sub-nav .tribe-events-nav-next,
.single-tribe_events .tribe-events-sub-nav .tribe-events-nav-next a {
	text-align:right;
}
#tribe-events-footer:before,
#tribe-events-footer:after {
	display: none;
}

/* Widget */
.tribe-events-list-widget .tribe-list-widget {
	padding-left: 0;
}
.tribe-events-list-widget .tribe-events-list-widget-events {
	margin-bottom: 1.5em;
	padding:0;
}
.tribe-events-list-widget .tribe-events-list-widget-events .tribe-event-title {
	font-size: 1.2em;
	margin:0;
}

h2.tribe-events-page-title{
    display: block;
    font-size: 3.2em;
    font-weight: 400;
    margin: 4.2vw auto 3.7vw;
}
#tribe-events-header .tribe-events-sub-nav {
    display: none;
}
#tribe-bar-views .tribe-bar-views-list,
#tribe-bar-form .tribe-bar-submit input[type="submit"], #tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"],
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:not([class*="sc_button_hover_"]), .tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:not([class*="sc_button_hover_"]) {
    @include border-radius(2em);
}
#tribe-bar-views .tribe-bar-views-list a {
    text-align: center !important;
        span[class*="tribe-icon"] {
            background-image: none;
            padding-left: 0;
        }
}
#tribe-events-footer .tribe-events-sub-nav {
    li.tribe-events-nav-previous {        text-align: right; padding-right: 10px !important;    }
    li.tribe-events-nav-next {        text-align: left;  padding-left: 10px !important;  }
}

.tribe-events-day .tribe-events-day-time-slot h5 {
    text-transform: none;
    @include border-radius(2em);
}

.tribe-events-calendar .tribe-events-tooltip h3 {
    padding: 0 1.8em;
    font-size: 1em;
}
.tribe-events-tooltip .tribe-event-duration {
    margin: 0 0 0.5em;
    height: auto;
}
.tribe-events-tooltip .tribe-events-event-body {
    padding-top: 0;
}
#tribe-bar-filters-wrap {
	#tribe-bar-collapse-toggle {
		display: none;
	}
}
