@import   url("https://use.typekit.net/gwi1ohp.css");
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: futura-pt, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.563rem;
  line-height: 1.4;
}
.d-block {
  display: block !important;
}
.d-inline {
  display: inline-block !important;
}
.d-relative {
  position: relative;
}
.page_content_wrap {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
/* --------------------------------

COLORS

-------------------------------- */

.text-color { color: #2d2929; }
.lime { color: #D6DC4A; }
.grey { color: #EFEEEA; }
.white { color: #fff; }



/* --------------------------------

BANNER

-------------------------------- */

.sc_button_default, .scheme_default .sc_button:not(.sc_button_simple):not(.sc_button_bordered):not(.sc_button_bg_image) {
  color: #2d2929;
  letter-spacing: 0.1rem;
  line-height: 14px;
  position: relative;
  top: 1px;
}
.sc_button_default, .scheme_default .sc_button:not(.sc_button_simple):not(.sc_button_bordered):not(.sc_button_bg_image):hover {
  color: #2d2929 !Important;
}
.sc_button .sc_button_text .sc_button_title {
  line-height: 14px;
  position: relative;
  top: 1px;
}
/* --------------------------------

TYPOGRAPHY

-------------------------------- */
.mini-title {
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.small-text {
  font-size: 10px;
  line-height: 1;
}
.sc_widget_video .trx_addons_video_player.with_cover .cover_subtitle, .properties_page .properties_address, .sc_action .sc_action_item_default .sc_action_item_subtitle, .sc_action .sc_action_item_default .sc_action_item_info, .sc_properties .post_featured.sc_properties_item_thumb .hot-label, .sc_item_subtitle, .related_wrap .related_item_style_2 .post_date, .sc_testimonials_default .sc_testimonials_item_author_subtitle, .sc_price_item_default .sc_price_item_label, .widget_area .post_item .post_info, aside .post_item .post_info {
  font-family: lemongrass-script, sans-serif !important;
  text-transform: capitalize !important;
  font-size: 30px;
}
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 0 !important;
}
h1,.h1 {
  font-size: 40px !important;
}
h2,.h2 {
  font-size: 35px !important;
}
h3,.h3 {
  font-size: 32px !important;
}
h4,.h4 {
  font-size: 26px !important;
}
h5,.h5 {

}
h6,.h6 {

}
.sc_action_item_title {
    font-size: 3rem;
    letter-spacing: 0.05rem;
}
.scheme_default .sc_action .sc_action_item_default .sc_action_item_subtitle {
  color: #D6DC4A;
}
/* --------------------------------

WIDGETS

-------------------------------- */
.widgets_above_page_wrap {
  position: absolute;
}
/* --------------------------------

BUTTONS

-------------------------------- */

.offset-btn {
  position: relative;
}
.offset-btn .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
  position: absolute;
  top: -130px;
  background-color: #D6DC4A !important;
  padding: 1rem;
  color: #2d2929;
  text-transform: unset;
  font-size: 30px;
  right: 10%;
}

.scheme_default .sc_button_hover_slide_left {
  background: linear-gradient(to right, #EFEEEA 50%,#D6DC4A 50%) no-repeat scroll right bottom / 210% 100% #D6DC4A !important
}
.scheme_default .sc_button_hover_slide_left:hover, .scheme_default footer .sc_button_hover_slide_left:hover {
  color: #2d2929 !important;
}
.sc_button_default, .scheme_default .sc_button:not(.sc_button_simple):not(.sc_button_bordered):not(.sc_button_bg_image) {
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.scheme_default .btn-square.sc_button:not(.sc_button_simple):not(.sc_button_bordered):not(.sc_button_bg_image) {
  border-radius: 0;
  background: transparent !important;
  font-size: 1.5rem;
  position: relative;
  padding: 0;
  height: 95px;
  padding-right: 110px;
}
.scheme_default .btn-square.sc_button:not(.sc_button_simple):not(.sc_button_bordered):not(.sc_button_bg_image) .sc_button_text {
  top: 32px !important;
  position: relative !important;
}
.scheme_default .btn-square.sc_button:not(.sc_button_simple):not(.sc_button_bordered):not(.sc_button_bg_image):after {
  content: '';
  background: url(/wp-content/uploads/2020/02/square-btn.svg) no-repeat;
  position: absolute;
  right: 0;
  background-color: #EFEEEA;
  width: 95px;
  height: 95px;
  text-align: center;
}
/* --------------------------------

SPACERS

-------------------------------- */

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
/*-------------------------------- */
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
/*-------------------------------- */
.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
/*-------------------------------- */
.pr-0 {
    padding-right: 0;
}
.pr-10 {
    padding-right: 10px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-40 {
    padding-right: 40px;
}
.pr-50 {
    padding-right: 50px;
}
/*-------------------------------- */
.pt-0 {
    padding-top: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
/*-------------------------------- */
.pl-0 {
  padding-left: 0;
}
.pl-10 {
    padding-left: 10px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-40 {
    padding-left: 40px;
}
.pl-50 {
    padding-left: 50px;
}
/*-------------------------------- */
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.p-40 {
    padding: 40px;
}
.p-50 {
    padding: 50px;
}
/*-------------------------------- */
.p-1vw {
    padding: 1vw;
}
.p-2vw {
    padding: 2vw;
}
.p-3vw {
    padding: 3vw;
}
.p-4vw {
    padding: 4vw;
}
.p-5vw {
    padding: 5vw;
}
/* --------------------------------

COOL HISTORY

-------------------------------- */

/* --------------------------------

HEADER

-------------------------------- */

.mobile_device .menu_mobile .search_mobile,
.mobile_layout .menu_mobile .search_mobile {
  display: none !important;
}

header .sc_layouts_row_type_normal.sc_layouts_row_fixed_on {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.top-menu {
    background: #EFEEEA !important;
}
.top-menu-wrapper.sc_layouts_row_fixed_on {
  box-shadow: none !important;
}
.top-menu ul.sc_layouts_menu_nav {
  width: 100% !important;
  font-family: futura-pt-bold, sans-serif;
  text-align: center;
}
.logo-wrapper .wpb_wrapper {
  text-align: center;
}
.logo_image {
  margin: 20px 0;
}
.secondary-menu-wrapper .socials_wrap .social_item .social_icon {
  width: 57px;
  height: 57px;
}
.secondary-menu-wrapper .socials_wrap .social_item .social_icon span::before {
  position: relative;
  top: 13px;
  line-height: 1;
}
.secondary-menu-wrapper .socials_wrap .social_item:nth-of-type(1) .social_icon span::before {
  display: none;
}
.secondary-menu-wrapper .socials_wrap .social_item:nth-of-type(1) .social_icon span::after {
  content: '';
  background: url(/wp-content/uploads/2020/01/icon-tickets.svg) no-repeat !important;
  width: 57px !important;
  height: 57px !important;
  position: absolute;
  left: 9px;
  top: 8px;
}
.scheme_default .secondary-menu .sc_layouts_menu_nav > li > a:hover,
.scheme_default .sc_layouts_menu_nav > li > a:hover {
  color: #D6DC4A !important;
}
.secondary-menu-wrapper .socials_wrap .social_item:nth-child(1n+1) .social_icon {
  background: #D1D1D1 !important;
  font-size: 30px;
}
.secondary-menu-wrapper .socials_wrap a.social_item:nth-child(1n+1) .social_icon:hover {
  background: #D1D1D1 !important;
  color: #2d2929 !important;
}
.header-icon-text {
  color: #2d2929;
  display: inline-block;
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.secondary-menu-wrapper .socials_wrap .social_item:nth-of-type(1) .social_icon {
  background: #D6DC4A !important;
}
.scheme_default .sc_layouts_row_type_normal .sc_layouts_item {
  margin-bottom: 1rem !important;
  margin-top: 0 !important;
}
.scheme_default .sc_layouts_menu_nav > li.current-menu-item > a {
  background: #D6DC4A;
  position: relative;
}
.scheme_default .sc_layouts_menu_nav > li.current-menu-item > a:after {
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #D6DC4A;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  text-align: center;
  z-index: -1;
}
.scheme_default .secondary-menu-wrapper .sc_layouts_menu_nav > li.current-menu-item > a {
  color: #D6DC4A !important;
  background: transparent !important;
}
.scheme_default .secondary-menu-wrapper .sc_layouts_menu_nav > li.current-menu-item > a span {
  color: #D6DC4A !important;
}
.scheme_default .secondary-menu-wrapper .sc_layouts_menu_nav > li.current-menu-item > a:after {
  display: none;
}
.sc_layouts_menu_nav > li > a {
  border-radius: 0;
}
.scheme_default .sc_layouts_menu_nav > li.current-menu-item > a span {
  color: #383E42;
}
.scheme_default .top-menu .sc_layouts_menu_nav > li > a span {
  position: relative;
}
.scheme_default .secondary-menu-wrapper.sc_layouts_row_type_normal .sc_layouts_item {
  margin-bottom:0 !important;
}
.secondary-menu .sc_layouts_menu_nav > li > a {
  padding-top:0 !important;
  padding-bottom:0 !important;
  font-weight: 700 !important;
}
.scheme_default .secondary-menu .sc_layouts_menu_nav>li>a:hover {
  color: #2d2929 !important;
}
.scheme_default .secondary-menu .sc_layouts_menu_nav>li ul {
  background-color: #D6DC4A;
}
.scheme_default .secondary-menu .sc_layouts_menu_nav > li li > a {
  color: #2d2929 !important;
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: block;
}
.scheme_default .secondary-menu .sc_layouts_menu_nav > li li > a:hover {
  color: rgba(0,0,0,0.2) !important;
}
.secondary-menu .sc_layouts_menu_nav > li ul {
  width: auto !important;
}
.top-menu ul.sc_layouts_menu_nav li.menu-item {
  width: 16.6% !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.top_panel .sc_layouts_row:not(.sc_layouts_row_type_narrow) .sc_layouts_menu_nav>li>a {
  font-family: futura-pt-bold, sans-serif !important;
}
.top-menu ul.sc_layouts_menu_nav li.menu-item:nth-last-child(2) {
  border-right: 0 !important;
}
/* .scheme_default .top-menu .sc_layouts_menu_nav>li.current-menu-ancestor>a {
  background: #D6DC4A;
  color: #383E42;
  border-radius: 0;
} */
.scheme_default .sc_layouts_menu_nav>li.current-menu-parent>a,
.scheme_default .sc_layouts_menu_nav>li.current-menu-ancestor>a {
  background: transparent;
  border-radius: 0;
}
.scheme_default .sc_layouts_menu_nav>li.current-menu-parent>a>span,
.scheme_default .sc_layouts_menu_nav>li.current-menu-ancestor>a>span {
  color: #2d2929 !important;
  border-bottom: 5px solid #D6DC4A;
}
.scheme_default .top-menu .sc_layouts_menu_nav>li a {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-right: 1px solid #A6A6A6;
  border-radius: 0;
}
.top-menu .sc_layouts_menu_nav>li:nth-last-child(2) a {
  border-right: 0 !important;
}
.scheme_default .sc_layouts_item_icon {
  color: #383E42;
}
/**FARM PARK**/
.top-menu .sc_layouts_menu_nav>li:nth-last-child(7) a span:before {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: -55px;
  top: -6px;
  background: url(/wp-content/uploads/2020/01/icon-sheep.svg) no-repeat;
}
/**STAY**/
.top-menu .sc_layouts_menu_nav>li:nth-last-child(6) a span:before {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: -55px;
  top: -6px;
  background: url(/wp-content/uploads/2020/01/icon-tent.svg) no-repeat;
}
/**FUN RIDES**/
.top-menu .sc_layouts_menu_nav>li:nth-last-child(5) a span:before {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: -55px;
  top: -6px;
  background: url(/wp-content/uploads/2020/01/icon-horse.svg) no-repeat;
}
/**ADAM**/
.top-menu .sc_layouts_menu_nav>li:nth-last-child(4) a span:before {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: -55px;
  top: -6px;
  background: url(/wp-content/uploads/2020/01/icon-boots.svg) no-repeat;
}
/**FARMING**/
.top-menu .sc_layouts_menu_nav>li:nth-last-child(3) a span:before {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: -55px;
  top: -6px;
  background: url(/wp-content/uploads/2020/01/icon-tractor.svg) no-repeat;
}
/**CONTACT**/
.top-menu .sc_layouts_menu_nav>li:nth-last-child(2) a span:before {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: -55px;
  top: -6px;
  background: url(/wp-content/uploads/2020/01/icon-speech.svg) no-repeat;
}
.scheme_default .menu_mobile_inner a.sc_layouts_logo:hover {
  background: transparent !Important;
}
.sc_layouts_menu_mobile_button_burger {
  position: absolute;
  right: 30px;
  bottom: 38px;
}
.scheme_default .sc_layouts_item_icon {
  color: #383E42;
  background: #D6DC4A;
  padding: 7px 16px;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  position: relative;
  left: 14px;
  line-height: 1;
  font-size: 37px;
}
.relative {
  position: relative;
}
.page-icon-area{
  position: absolute;
  left: 5px;
  top: 24px;
}
.page-icon-sheep,
.page-icon-tent,
.page-icon-horse,
.page-icon-boots,
.page-icon-tractor,
.page-icon-speech {
  color: #383E42;
  background: #D6DC4A;
  padding: 7px 16px;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  position: relative;
  left: 14px;
  line-height: 1;
  font-size: 37px;
}
.page-icon-sheep:after,
.page-icon-tent:after,
.page-icon-horse:after,
.page-icon-boots:after,
.page-icon-tractor:after,
.page-icon-speech:after {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: 7px;
  top: 10px;
}
.page-icon-sheep:after {
  background: url(/wp-content/uploads/2020/01/icon-sheep.svg) no-repeat;
  background-size: cover;
}
.page-icon-tent:after {
  background: url(/wp-content/uploads/2020/01/icon-tent.svg) no-repeat;
  background-size: cover;
}
.page-icon-horse:after {
  background: url(/wp-content/uploads/2020/01/icon-horse.svg) no-repeat;
  background-size: cover;
}
.page-icon-boots:after {
  background: url(/wp-content/uploads/2020/01/icon-boots.svg) no-repeat;
  background-size: cover;
}
.page-icon-tractor:after {
  background: url(/wp-content/uploads/2020/01/icon-tractor.svg) no-repeat;
  background-size: cover;
}
.page-icon-speech:after {
  background: url(/wp-content/uploads/2020/01/icon-speech.svg) no-repeat;
  background-size: cover;
}
.scheme_default .top_panel_default .top_panel_title,
.scheme_default.top_panel_default .top_panel_title {
  background-color: #D6DC4A;
}
.top_panel.top_panel_default
.sc_layouts_row_type_normal {
  padding-bottom: 4vw;
  padding-top: 4vw;
  margin-bottom: 5.3vw;
}
/* --------------------------------

ELEMENTS

-------------------------------- */
.scheme_default .sc_properties .post_featured.sc_properties_item_thumb .hot-label:after {
    display: none;
}
.sc_properties .post_featured.sc_properties_item_thumb .hot-label {
    top: 0.4em;
    left: 0.4em;
}
.sc_properties .sc_properties_item_info .sc_properties_item_compare {
    display: none;
}
/* --------------------------------

TRIPAVDISOR

-------------------------------- */
.ti-widget.ti-boxed .ti-review-item .inner {
  background: transparent !important;
  border: 0 !important;
}
.ti-widget .ti-review-item {
  border: 0 !important;
}
.ti-widget-container, .ti-widget-container * {
  font-family: inherit !important;
  font-size: 18px !important;
}
.ti-widget .ti-footer {
  display: none !important;
}
.tripadvisor-logo:before {
  content: '';
  background: url(/wp-content/uploads/2020/02/tripadvisor-logo.svg) no-repeat;
  position: absolute;
  left: 80px;
  bottom: 40px;
  width: 370px;
  height: 220px;
  z-index: 10;
}
/* --------------------------------

FACILITIES

-------------------------------- */
.facility-item {
    font-size: 1.25rem;
}
.facility-item h6 {
    font-family: futura-pt-bold, sans-serif;
}
.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-lg.vc_icon_element-have-style-inner {
    width: 7em !important;
    height: 7em !important;
}
/* --------------------------------

FAQ's

-------------------------------- */
.faq-area .vc_toggle {
    border-bottom: 1px solid #D4D4D4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.faq-area .vc_toggle_title h4 {
    font-size: 1.5rem !important;
}
.faq-area .vc_toggle_content p {
    margin-bottom: 0
}
/* --------------------------------

TABS

-------------------------------- */
.scheme_default body .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tabs-list .vc_tta-tab.vc_active > a {
  font-size: 18px;
  background-color: #D6DC4A;
  color: #383E42;
  font-family: futura-pt-bold, sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding-top: 11px;
}
.scheme_default body .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tabs-list .vc_tta-tab > a {
  font-size: 18px !important;
  color: #383E42 !important;
  font-family: futura-pt-bold, sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1rem !important;
  line-height: 1 !important;
}
.scheme_default .chunky-tabs.vc_tta-style-classic .vc_tta-tabs-list .vc_tta-tab.vc_active > a {
  border-radius: 0 !important;
  background-color: #fff !important;
}
.scheme_default .chunky-tabs.vc_tta-style-classic .vc_tta-tabs-list .vc_tta-tab.vc_active > a span {
  color: #383E42 !important;
  background: transparent !important;
}
.scheme_default .chunky-tabs.vc_tta-style-classic .vc_tta-tabs-list .vc_tta-tab {
  width: 21%;
  text-align: center;
  margin: 0 2vw 0 0 !important;
}
.scheme_default .chunky-tabs.vc_tta.vc_tta-tabs.vc_general .vc_tta-tabs-list {
  margin-bottom: 0 !important;
}
.scheme_default .chunky-tabs.vc_tta.vc_tta-tabs.vc_general .vc_tta-icon {
  font-style: normal !important;
  line-height: 1;
}
.scheme_default .chunky-tabs.vc_tta-style-classic .vc_tta-tabs-list li.vc_tta-tab > a {
  padding: 2rem 0 !important;
  background-color: #A8A8A8 !important;
  border-radius: 0 !important;
  color: #fff !important;
}
.scheme_default .chunky-tabs.vc_tta-style-classic .vc_tta-tabs-list .vc_tta-tab a span {
  padding: 0 !important;
  background-color: #A8A8A8 !important;
  border-radius: 0 !important;
  color: #fff !important;
}
.scheme_default .chunky-tabs .vc_tta-panels-container {
  background: #fff !important;
}
.scheme_default .chunky-tabs .vc_tta-panels-container p {
  margin-top: 0  !important;
  margin-bottom: 1.5em  !important;
}
/* .reverse-grid li.esg-split-left .esg-entry-media-wrapper {
  float: right;
} */
li.esg-split-left:nth-of-type(4n+3) .esg-entry-media-wrapper,
li.esg-split-left:nth-of-type(4n+3) + * .esg-entry-media-wrapper {
  float: right;
}
/* --------------------------------

SHOP

-------------------------------- */
.shop-category-grid .category-item button {
  position: absolute;
  z-index: 7;
  top: auto;
  right: 0;
  bottom: -28px;
  left: 0;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 1.33333rem;
  margin: auto;
}
.shop-category-grid .category-item .wpb_wrapper {
  background: #fff;
  position: relative;
  height: 100%;
}
.shop-category-grid .category-item .wpb_wrapper .vc_btn3-container {
  margin-bottom: 0;
}
.scheme_default .category-item .sc_button_hover_slide_left {
  background: linear-gradient(to right, #D6DC4A 50%, #efeeea 50%) no-repeat scroll right bottom / 210% 100% #efeeea !important
}
.scheme_default .category-item .sc_button_hover_slide_left:hover {
  background-position: left bottom !important;
}
.category-item .sc_button_hover_slide_left .vc_btn3-icon {
  font-size: 30px;
  height: 14px;
  line-height: 25px;
  text-align: center;
  width: 30px;
  height: 30px;
  color: #383E42;
  border: 2px solid #383E42;
  border-radius: 50%;
  position: absolute;
  left: 28px;
}
.shop-item-content-area {
  background: #fff;
  padding: 3rem 3rem 70px;
  font-size: 20px !important;
  color: #383E42 !important;
  font-family: futura-pt-bold, sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 0.1rem !important;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

/***** SUBMENU DROPDOWN . *****/

/* --------------------------------

Mobile header

-------------------------------- */
.scheme_default .menu_mobile_inner .current-menu-ancestor > a {
  color: #383E42;
}
.scheme_default .menu_mobile_inner .current-menu-item > a {
  color: #383E42;
}
.menu_mobile .sc_layouts_logo {
  margin-top: 24px;
}
.mobile_device .menu_mobile .sc_layouts_logo img, .mobile_layout .menu_mobile .sc_layouts_logo img {
  max-height: 5em;
}
.scheme_default .menu_mobile_inner a:hover {
  color: #383E42 !important;
}
.menu_mobile_close {
  color: #383E42 !important;
  background: #D6DC4A !important;
  padding: 7px 16px;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  right: 14px;
  top: 33px;
  line-height: 1;
  font-size: 37px;
}

.menu_mobile .menu_mobile_nav_area > ul > li > a {
  color: #383E42;
  background: #fff;
  padding: 7px 10px;
  margin-bottom: 5px;
  font-family: futura-pt-bold, sans-serif !important;
  text-align: center;
  width: 300px;
}
.menu_mobile .menu_mobile_nav_area .open_child_menu {
  top: 7px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0) !important;
}
.scheme_default .menu_mobile_inner a:hover {
  background: #D6DC4A;
  color: #383E42;
}
.menu_mobile .menu_mobile_nav_area>ul>li ul.sub-menu {
  margin: 20px 0;
}
.menu_mobile .menu_mobile_nav_area>ul>li ul li ul.sub-menu {
  margin: 10px 0
}
.menu_mobile .menu_mobile_nav_area > ul > li li li > a {
  padding-left: 10px;
  padding-right: 10px;
  font-family: futura-pt, sans-serif !important;
  text-transform: unset;
}
.menu_mobile .menu_mobile_nav_area li > a {
  font-family: futura-pt-bold, sans-serif !important;
  width: 300px;
}
.menu_mobile .menu_mobile_nav_area > ul > li li > a {
  padding-left: 10px;
  padding-right: 10px;
}
/* --------------------------------

CONTENT

-------------------------------- */

.intro-text {
  padding-top: 7vw;
  line-height: 1.6;
}

.intro-title .sc_item_subtitle {
  color: #fff;
}

.intro-title-alt .sc_item_subtitle {
  color: #849191;
}

/* --------------------------------

TABLES

-------------------------------- */

.scheme_default table:not(.tribe-events-calendar) th {
  background-color: #1A363B;
}
/* --------------------------------

NEWS

-------------------------------- */
.sc_blogger_default .sc_blogger_item {
  text-align: left;
}
.sc_blogger_default .sc_blogger_item_content {
  padding: 2rem 0 0;
}
.post_meta .post_meta_item {
  color: #D6DC4A;
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.eg-news-element-10 {
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.eg-news-element-11 {
  font-family: futura-pt-bold, sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.vc_gitem_row .vc_gitem-col {
  padding: 60px;
}
.vc_gitem-post-data-source-post_excerpt {
  display: none;
}
.vc_btn3-container {
  margin-bottom: 0;
}
.news-list .vc_general.vc_btn3 {
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 50px;
  color: #242424;
}
.news-list .vc_grid .vc_pageable-load-more-btn {
  margin: 3vw 0 6vw;
}
/* --------------------------------

Properties

-------------------------------- */
.properties_page_featured {
    display: none;
}
.scheme_default .esgbox-navigation button:hover {
    background: transparent !important;
}
/* --------------------------------

Footer

-------------------------------- */
footer .footer-area {
  padding: 5rem 0;
  font-size: 14px;
  line-height: 1.4;
}
.footer-area {
  color: #fff;
}
footer .footer-area ul li a {
  color: #fff !Important;
}
footer .footer-area ul li a:hover {
  color: #D6DC4A !Important;
}
.scheme_default footer a {
  color: #D6DC4A !Important;
}
.scheme_default footer a:hover {
  color: #fff !Important;
}
.scheme_default footer .footer-secondary a {
  color: #8c8c8c !Important;
}
.scheme_default footer .footer-secondary a:hover {
  text-decoration: underline !Important;
}
.footer-secondary {
  font-size: 14px;
}
.footer-area h2 {
  color: #fff !Important;
  font-family: futura-pt-bold, sans-serif !important;
  font-size: 16px !Important;
  font-weight: 700 !Important;
  text-transform: uppercase !Important;
  letter-spacing: 0.1rem !Important;
}
footer table td {
  padding: 0;
}
footer table:not(.tribe-events-calendar)>tbody>tr:nth-child(2n+1)>td {
  background-color: transparent !important;
}
footer .socials_wrap .social_item:nth-of-type(1) .social_icon span::after {
  display: none;
}
footer .socials_wrap .social_item:nth-child(1n+1) .social_icon {
  background-color: transparent !Important;
  width: auto;
  height: auto;
  display: inline-block;
  position: static;
  border-radius: 0;
  font-size: 30px;
  line-height: 1;
}
footer .socials_wrap .social_item .social_icon span::before {
  position: static;
}
/* --------------------------------

SIDE NAV

-------------------------------- */
.side-nav {
  position: fixed;
  width: 50px;
  height: 400px;
  color: #fff;
  right: 50px;
  z-index: 1000;
  top: 30%;
}
.side-nav a.side-nav-item {
  background: #EFEEEA;
  border: 2px solid #707070;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  display: block;
  margin-bottom: 12px;
  position: relative;
}
.side-nav a.side-nav-item:hover {
  background: #D6DC4A;
}

.side-nav a.side-nav-item.book-tickets span:after,
.side-nav a.side-nav-item.farm-park span:after,
.side-nav a.side-nav-item.stay span:after,
.side-nav a.side-nav-item.fun-rides span:after,
.side-nav a.side-nav-item.adam span:after,
.side-nav a.side-nav-item.farm span:after {
  content:'';
  position: absolute;
  z-index:10;
  color: #383E42;
  width: 50px;
  height:37px;
  left: 4px;
  top: 9px;
}
.side-nav a.side-nav-item.book-tickets span:before {
  content:'';
  background: url(/wp-content/uploads/2020/02/book-tickets-arch.svg) no-repeat;
  position: absolute;
  z-index:10;
  width: 89px;
  height:35px;
  left: -17px;
  top: -19px;
}
.side-nav a.side-nav-item.book-tickets span:after {
  background: url(/wp-content/uploads/2020/01/icon-tickets.svg) no-repeat;
  left: 7px;
  top: 7px;
  height: 42px;
}
.side-nav a.side-nav-item.farm-park span:after {
  background: url(/wp-content/uploads/2020/01/icon-sheep.svg) no-repeat;
  left: 4px;
}
.side-nav a.side-nav-item.stay span:after {
  background: url(/wp-content/uploads/2020/01/icon-tent.svg) no-repeat;
  left: 10px;
}
.side-nav a.side-nav-item.fun-rides span:after {
  background: url(/wp-content/uploads/2020/01/icon-horse.svg) no-repeat;
  left: 10px;
  top: 8px;
}
.side-nav a.side-nav-item.adam span:after {
  background: url(/wp-content/uploads/2020/01/icon-boots.svg) no-repeat;
  left: 10px;
}
.side-nav a.side-nav-item.farm span:after {
  background: url(/wp-content/uploads/2020/01/icon-tractor.svg) no-repeat;
  left: 4px;
}
/* --------------------------------

Responsive break points

-------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  h1,.h1 {
    font-size: 22px !important;
  }
  h2,.h2 {
    font-size: 20px !important;
  }
  h3,.h3 {
    font-size: 19px !important;
  }
  h4,.h4 {
    font-size: 18px !important;
  }
  h5,.h5 {

  }
  h6,.h6 {
        font-size: 1rem;
  }
    .faq-area .vc_toggle_title h4 {
        font-size: 14px !important;
    }
  .sc_button_default, .scheme_default   .sc_button:not(.sc_button_simple):not(.sc_button_bordered):not(.sc_button_bg_image) {
    font-size: 12px;
  }
  .shop-item-content-area {
    font-size: 16px !important;
    letter-spacing: 0.05rem !important;
    padding: 2rem 2rem 45px;
  }
  .page-icon-area {
    top: 21px;
  }
  .page-icon-sheep {
    width: 47px;
    height: 47px;
  }
  .page-icon-sheep:after {
    width: 36px;
    height: 29px;
    left: 6px;
    top: 9px;
  }
  .page-icon-tent {
    width: 47px;
    height: 47px;
  }
  .page-icon-tent:after {
    width: 36px;
    height: 29px;
    left: 6px;
    top: 9px;
  }
  .page-icon-horse {
    width: 47px;
    height: 47px;
  }
  .page-icon-horse:after {
    width: 36px;
    height: 29px;
    left: 6px;
    top: 9px;
  }
  .page-icon-boots {
    width: 47px;
    height: 47px;
  }
  .page-icon-boots:after {
    width: 36px;
    height: 29px;
    left: 6px;
    top: 9px;
  }
  .page-icon-tractor {
    width: 47px;
    height: 47px;
  }
  .page-icon-tractor:after {
    width: 36px;
    height: 29px;
    left: 6px;
    top: 9px;
  }
  .page-icon-speech {
    width: 47px;
    height: 47px;
  }
  .page-icon-speech:after {
    width: 36px;
    height: 29px;
    left: 6px;
    top: 9px;
  }
  .scheme_default .sc_layouts_item_icon {
    width: 47px;
    height: 47px;
    font-size: 29px;
    padding: 7px 13px;
  }
  .sc_layouts_menu_mobile_button_burger {
    bottom:26px;
  }
  .logo_image {
    margin: 20px 0 0;
  }
  .sc_layouts_row .sc_layouts_logo.camping-logo img {
    max-height: 47px;
  }
  .sc_layouts_row .sc_layouts_logo img {
    max-height: 5em;
  }
  .offset-btn-area .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .offset-btn-area .vc_column-inner .vc_btn3-container {
    margin-bottom: 0;
  }
  .offset-btn .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
    left: 0;
    right: 0;
    position: static;
    font-size: 20px;
  }
  .shop-category-grid .category-item {
    margin-bottom: 30px;
  }
  .wpb-js-composer .shop-nav.vc_tta.vc_tta-shape-rounded .vc_tta-panel-heading {
    border-radius: 0 !important;
  }
  .wpb-js-composer .shop-nav.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
    background-color: #D6DC4A !important;
    border: 0;
  }
  .wpb-js-composer .shop-nav.vc_tta-shape-rounded:not(.vc_tta-o-no-fill) .vc_tta-panel.vc_active .vc_tta-panel-body {
    display: none !important;
  }
  .side-nav {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1,.h1 {
    font-size: 30px !important;
  }
  h2,.h2 {
    font-size: 26px !important;
  }
  h3,.h3 {
    font-size: 22px !important;
  }
  h4,.h4 {
    font-size: 20px !important;
  }
  h5,.h5 {

  }
  h6,.h6 {
        font-size: 1rem;
  }
  .side-nav {
    display: none;
  }
  .sc_layouts_row .sc_layouts_logo img {
    max-height: 7em;
  }
  .sc_layouts_row.sc_layouts_row_fixed_on .sc_layouts_logo img {
    max-height: 7em;
  }
  .page-icon-area {
    top: 12px;
  }
  .sc_layouts_row_fixed_on .page-icon-area {
    top: 14px;
  }
  .logo_image {
    margin: 10px 0 0;
  }
  .page-icon-sheep:after {
    height: 41px;
    left: 4px;
    top: 9px;
  }
  .sc_layouts_menu_mobile_button_burger {
    bottom: 13px;
  }
  .menu_mobile .menu_mobile_nav_area li > a,
  .menu_mobile .menu_mobile_nav_area > ul > li > a {
    width: 540px;
  }
  .offset-btn-area .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .offset-btn-area .vc_column-inner .vc_btn3-container {
    margin-bottom: 0;
  }
  .offset-btn .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
    left: 0;
    position: static;
    font-size: 24px;
  }
  .shop-category-grid .category-item {
    margin-bottom: 30px;
  }
  .wpb-js-composer .shop-nav.vc_tta.vc_tta-shape-rounded .vc_tta-panel-heading {
    border-radius: 0 !important;
  }
  .wpb-js-composer .shop-nav.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
    background-color: #D6DC4A !important;
    border: 0;
  }
  .wpb-js-composer .shop-nav.vc_tta-shape-rounded:not(.vc_tta-o-no-fill) .vc_tta-panel.vc_active .vc_tta-panel-body {
    display: none !important;
  }
  .camping-logo img {
    width: auto;
    max-width: inherit;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .offset-btn {
    position: relative;
  }
  .offset-btn .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
    position: absolute;
    top: -130px;
    background-color: #D6DC4A !important;
    padding: 1rem;
    color: #2d2929;
    text-transform: unset;
    font-size: 30px;
    right: 60%;
    left: inherit;
  }
  .sc_layouts_row.sc_layouts_row_fixed_on .sc_layouts_logo img {
    max-height: 4em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1,.h1 {
  font-size: 40px !important;
    }
    h2,.h2 {
        font-size: 35px !important;
    }
    h3,.h3 {
        font-size: 32px !important;
    }
    h4,.h4 {
        font-size: 26px !important;
    }
  .logo_image {
    margin: 20px 0;
  }
  .side-nav {
    display: block;
  }
  .offset-btn .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
    right: 10%;
  }
  .offset-btn {
    position: relative;
  }
  .offset-btn .vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
    position: absolute;
    top: -130px;
    background-color: #D6DC4A !important;
    padding: 1rem;
    color: #2d2929;
    text-transform: unset;
    font-size: 30px;
    right: 10%;
  }
  .intro-text {
    padding-top: 5vw;
    line-height: 1.6;
  }
  .camping-logo img {
    width: inherit;
    height: auto;
    max-width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .intro-text {
    padding-top: 7vw;
    line-height: 1.6;
  }
}
