/* Common styles
----------------------------------------------------------------- */
body[class*="woocommerce-"] table th, body[class*="woocommerce-"] table td {
	border-width:0;
}


/* Shop Listing
----------------------------------------------------------------- */

.woocommerce ul.products:before,.woocommerce-page ul.products:before,
.woocommerce .products ul:before, .woocommerce-page .products ul:before,
.woocommerce div.product #reviews .comment:before, .woocommerce-page div.product #reviews .comment:before,
.woocommerce #content div.product #reviews .comment:before, .woocommerce-page #content div.product #reviews .comment:before,
.woocommerce .woocommerce-pagination ul.page-numbers:before, .woocommerce-page .woocommerce-pagination ul.page-numbers:before {
	display:none;
}

.woocommerce .list_products_header, .woocommerce-page .list_products_header {
	padding: 1em 0;
	margin-bottom:2em;
	display:none;
}
.woocommerce .woocommerce-breadcrumb {
    font-size: 0.9333em;
	display:none;
}
.woocommerce .post_item_single .woocommerce-breadcrumb {
	margin:-1.2em 0 3em;
}
.woocommerce .page-title {
	margin:0;
	text-align:center;
	font-size: 2em;
}

.woocommerce .the_mounty_shop_mode_buttons,
.woocommerce-page .the_mounty_shop_mode_buttons {
	float:left;
	font-size: 20px;
	margin:1.2rem 0.5em 4em 0;
	display:block;
}
.woocommerce .the_mounty_shop_mode_buttons a+a,
.woocommerce-page .the_mounty_shop_mode_buttons a+a {
	margin-left: 0.5em;
}

.woocommerce .woocommerce-message .button,
.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button {
	margin-top:0;
}
.woocommerce ul.products li.product .add_to_cart:before,
.woocommerce div.product form.cart .button:before {
	content: '\e93d';
	font-family:$theme_icons;
	margin-right:0.6em;
}

.woocommerce ul.products li.product.outofstock a[class*="add_to_cart"],
.woocommerce .products .product.outofstock .button {
    display: none !important;
}
.woocommerce .products .product .outofstock_label {
	@include abs-rt(-2.3em, 1.7em);
	@include rotate(45deg);
	@include box(10em, 2em, 2em);
	font-size: 10px;
	letter-spacing: 0.5px;
	background-color: #a00000;
	color: #fff;
	text-align: center;
	display: block;
	z-index: 999;
}

.woocommerce .woocommerce-result-count {
	margin:1.03rem 0.5em 1.2em 0;
}
.woocommerce .woocommerce-ordering {
	margin-top:0;
	margin-bottom: 4em;
}

.woocommerce ul.products, .woocommerce-page ul.products {
	margin-right:-2em;
	margin-bottom:0;
	@include flex;
	@include flex-wrap(wrap);
}
.woocommerce ul.products li.product > .post_item.post_layout_thumbs {
/*
	display:inline-block;
	vertical-align:top;
*/
	@include flex;
	@include flex-direction(column);
	@include border-box;
	@include box(100%, 100%);
}
.woocommerce .products.related ul.products li.product > .post_item.post_layout_thumbs {
	height: auto;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
.woocommerce[class*="columns-"] ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product,
.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
    margin: 0;
	clear:none;
    padding: 0 2em 2em 0;
    position: relative;
	width: 50%;
	@include border-box;
}
@for $i from 1 through 6 {
	.woocommerce.columns-#{$i} ul.products li.product, .woocommerce-page.columns-#{$i} ul.products li.product,
	.woocommerce ul.products.columns-#{$i} li.product, .woocommerce-page ul.products.columns-#{$i} li.product,
	.woocommerce ul.products li.product.column-1_#{$i}, .woocommerce-page ul.products li.product.column-1_#{$i},
	.woocommerce .related.products ul.products.columns-#{$i} li.product, .woocommerce-page .related.products ul.products.columns-#{$i} li.product,
	.woocommerce .related.products ul.products li.product.column-1_#{$i}, .woocommerce-page .related.products ul.products li.product.column-1_#{$i},
	.woocommerce .upcells.products ul.products.columns-#{$i} li.product, .woocommerce-page .upcells.products ul.products.columns-#{$i} li.product,
	.woocommerce .upcells.products ul.products li.product.column-1_#{$i}, .woocommerce-page .upcells.products ul.products li.product.column-1_#{$i} {
		width: 100% / $i;
	}
}
.woocommerce ul.products li.product-category mark,
.woocommerce-page ul.products li.product-category mark {
	background:none;
}

.woocommerce ul.products li.product .post_item,
.woocommerce-page ul.products li.product .post_item {
	margin-bottom:0;
	@include transition-colors;
}
.woocommerce .products .product .post_featured,
.woocommerce ul.products li.product .post_featured {
	overflow: hidden;
	margin-bottom: 0;
}
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins{
	font-weight: 400;
}

/* Thumbs mode */
.woocommerce .shop_mode_thumbs ul.products li.product .post_item,
.woocommerce-page .shop_mode_thumbs ul.products li.product .post_item {
	@include transition-colors;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
	margin: 0;
	@include box-shadow(none);
}
.woocommerce .products .product .onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
	font-size: 11px;
	@include box(4em, 4em, 4.2em);
	margin: 0;
	padding: 0;
	left: 5%;
	right: auto;
	text-transform: uppercase;
	top: 5%;
}
.woocommerce ul.products li.product.instock .onsale,
.woocommerce-page ul.products li.product.instock .onsale {
	font-size: 11px;
	@include box(4em, 4em, 4.2em);
	margin: 0;
	padding: 0;
	right: 8%;
	text-transform: uppercase;
	top: 8%;
}
.woocommerce ul.products li.product strong {
	margin-top:0.5em;
}
.woocommerce .products .product .post_data,
.woocommerce ul.products li.product .post_data,
.woocommerce-page ul.products li.product .post_data {
	padding: 1.75em 1.5em;
	text-align:center;
	overflow:hidden;
}
.woocommerce ul.products li.product .post_featured:not(.hover_none)+.post_data .add_to_cart_button,
.woocommerce-page ul.products li.product .post_featured:not(.hover_none)+.post_data .add_to_cart_button {
	display:none;
}

.woocommerce ul.products li.product .post_header .post_tags {
	@include font(1em, 1.4em, 400, italic);
	letter-spacing:0;
	margin-bottom:0.5em;
}
.woocommerce .products .product .post_header, 
.woocommerce ul.products li.product .post_header, 
.woocommerce-page ul.products li.product .post_header {
	margin-bottom:0;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce .products .product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	@include font(1.2em, 1.3em, 400);
	margin-top:0;
	margin-bottom: 0;
	padding:0;
}
.woocommerce .products .product .price,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	@include font(1.2em, 1em, 400);
	margin:0.8em auto;
}
span.amount {
	line-height:1em;
}
span.amount > .decimals {
	//position:relative;
	//display:inline;
	//@include font(0.75em, 1em);
	//vertical-align:top;
	//margin-left:0.2em;
}
span.amount > .decimals_separator {
	//display:none;
}
.woocommerce ul.products li.product .price .decimals,
.woocommerce-page ul.products li.product .price .decimals {
	//top: -0.2em;
}
.woocommerce ul.products li.product .price ins {
	text-decoration:none;
	font-weight:inherit;
	font-style:inherit;
}
.woocommerce ul.products li.product .price del {
	display:inline-block;
	margin-right:6px;
	font-size: 0.8em;
	opacity:1;
	text-decoration:none;
	position:relative;
}
.woocommerce ul.products li.product .price del:before {
	content:' ';
	@include abs-lt(0, 45%);
	@include box(100%, 1px);
}


/* Thumbs mode */
.woocommerce .shop_mode_thumbs ul.products li.product .post_data,
.woocommerce-page .shop_mode_thumbs ul.products li.product .post_data {
	@include flex;
	@include flex-grow(10);
	@include flex-align-items(stretch);
	@include flex-justify-content(center);
	.product_type_external,
	.product_type_grouped {
		display: none;
	}
}
.woocommerce .shop_mode_list ul.products li.product.outofstock ,
.woocommerce-page .shop_mode_list ul.products li.product.outofstock,
.woocommerce .shop_mode_thumbs ul.products li.product.outofstock ,
.woocommerce-page .shop_mode_thumbs ul.products li.product.outofstock {
	.button,
	.product_type_external,
	.product_type_grouped {
		display: none !important;
	}
}

.woocommerce .shop_mode_thumbs ul.products li.product .post_data_inner,
.woocommerce-page .shop_mode_thumbs ul.products li.product .post_data_inner {
	@include flex;
	@include flex-direction(column);
	@include flex-justify-content(stretch);
}
.woocommerce .shop_mode_thumbs ul.products li.product .price_wrap,
.woocommerce-page .shop_mode_thumbs ul.products li.product .price_wrap {
	@include flex;
	@include flex-grow(10);
	@include flex-direction(row);
	@include flex-align-items(center);
}
.woocommerce .shop_mode_thumbs ul.products li.product .price,
.woocommerce-page .shop_mode_thumbs ul.products li.product .price {
	margin: 1em auto;
}


/* List mode */
.woocommerce .shop_mode_list ul.products li.product, .woocommerce-page .shop_mode_list ul.products li.product {
	overflow:hidden;
	margin:0;
	float:none;
	width:100%;
}
.woocommerce .shop_mode_list ul.products li.product .post_item, .woocommerce-page .shop_mode_list ul.products li.product .post_item {
	overflow:hidden;
	text-align:left;
	border: none;
}
.woocommerce .shop_mode_list ul.products li.product + li.product .post_item, .woocommerce-page .shop_mode_list ul.products li.product + li.product .post_item {
	border-top: 1px solid #ddd;
	margin-top: 3em;
	padding-top: 5em;
}
.woocommerce .shop_mode_list ul.products li.product .post_data, .woocommerce-page .shop_mode_list ul.products li.product .post_data {
	height:auto;
	overflow:hidden;
	text-align:left;
	padding:0;
	.product_type_external,
	.product_type_grouped {
		display: none;
	}
}
.woocommerce .shop_mode_list ul.products li.product .post_featured, .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
	float: left;
	margin: 0 2em 0 0;
	width: 33%;
	max-width:270px;
	position:relative;
	border: 1px solid #ddd;
}
.woocommerce .shop_mode_list ul.products li.product .description, .woocommerce-page .shop_mode_list ul.products li.product .description {
	margin-bottom:1.5em;
	line-height:1.3em;
	overflow:hidden;
	max-height:6.6em;
}
.woocommerce .shop_mode_list ul.products li.product-category .description, .woocommerce-page .shop_mode_list ul.products li.product-category .description {
	border-bottom: none;
}
.woocommerce .shop_mode_list ul.products li.product .post_content, .woocommerce-page .shop_mode_list ul.products li.product .post_content {
	margin: 1.2em 0 1.6em;
}
.woocommerce .shop_mode_list ul.products li.product .description p, .woocommerce-page .shop_mode_list ul.products li.product .description p,
.woocommerce .shop_mode_list ul.products li.product .description ul, .woocommerce-page .shop_mode_list ul.products li.product .description ul {
	padding-bottom:0;
	margin-bottom:0;
	line-height:1.3em;
}

.woocommerce .shop_mode_list ul.products li.product .price,
.woocommerce-page .shop_mode_list ul.products li.product .price {
	margin: 0;
}
.woocommerce .shop_mode_list ul.products li.product .post_data .add_to_cart_button,
.woocommerce-page .shop_mode_list ul.products li.product .post_data .add_to_cart_button {
	margin-top: 2em;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
	padding: 1.3em 0 0 1em;
    vertical-align: top;
	line-height:1em;
}
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after {
	display: none;
}


/* Rating stars */
.woocommerce .products .star-rating {
	 float:none;
	 margin: 0.6em auto -0.6em;
}
.woocommerce .products .product .post_header,
.woocommerce ul.products li.product .post_header {
	position:relative;
	overflow: visible;
}
.woocommerce ul.products li.product .star-rating {
	font-size:0.7em;
	width: 5.4em;
	margin: 1em auto 0;
	//@include abs-lt(50%, -1.6em);
	//@include translateX(-50%);
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating {
	font-size: 0.7em;
	width: 6em;
}
.woocommerce .shop_mode_list .products .star-rating,
.woocommerce .shop_mode_list ul.products li.product .star-rating {
	position:relative;
	top: auto;
	left: auto;
	font-size:0.8em;
	float:none;
	margin: 0.5em 0 0;
	@include transform-none;
}
.woocommerce .products .star-rating:before,
.woocommerce .products .star-rating span {
	 top: 1px;
}


/* Single product decoration
---------------------------------------------------------------------------- */

/* Messages */
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button {
	margin: 0 0 0.5em 1em;
}


/* Title */
.woocommerce div.product .product_title {
	display: none;
	margin:-0.35em 0 0;
}

/* Price */
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	position:relative;
	font-size:3.2em;
	font-weight:400;
}
.woocommerce div.product p.price {
	margin: 0 0 0.8em;
}
.woocommerce div.product p.price ins {
	text-decoration:none;
	font-style:normal;
	font-weight:400;
}
.woocommerce div.product p.price del {
	@include font(0.75em, '', 400, normal);
}

/* Images and thumbnails */
.woocommerce-main-image {
	position: relative;
	display:block;
}
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
	margin-bottom: 2em;
	width: 45%;
	float: left;
}
.woocommerce div.product div.images img {
	border: 1px solid #ddd;
	@include border-box;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:first-child {
	margin-bottom: 6px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
	padding: 0 6px 6px 0;
	@include border-box;
}
/* Built-in images slider */
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	max-width: none;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child {
	margin-bottom: 0;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:nth-child(n+2) {
	padding: 0;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image img {
	border: none;
}
.woocommerce div.product div.images .flex-viewport {
	border: 1px solid #ddd;
	margin-bottom: 6px;
}
.woocommerce div.product div.images .flex-control-thumbs li {
	padding: 0 6px 6px 0;
	@include border-box;
}

.woocommerce div.product span.onsale {
	@include abs-lt(2em, 2em);
	@include box(5.5em, 5.5em, 5.8em);
	font-size:12px;
	margin:0;
	padding:0;
	text-transform:uppercase;
}

.woocommerce div.product div.thumbnails > div,
.woocommerce div.product div.thumbnails > ul {
	max-height: 12em;
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	margin-right: 1.5%;
	width: 18.5%;
	position:relative;
	@include border-box;
}
.woocommerce #content div.product div.thumbnails a:hover, .woocommerce div.product div.thumbnails a:hover,
.woocommerce-page #content div.product div.thumbnails a:hover, .woocommerce-page div.product div.thumbnails a:hover {
	border-style: solid;
}
.woocommerce #content div.product div.thumbnails.columns-4 a, .woocommerce div.product div.thumbnails.columns-4 a,
.woocommerce-page #content div.product div.thumbnails.columns-4 a, .woocommerce-page div.product div.thumbnails.columns-4 a {
	margin-right: 2.6666%;
	width: 23%;
}
.woocommerce #content div.product div.thumbnails.columns-3 a, .woocommerce div.product div.thumbnails.columns-3 a,
.woocommerce-page #content div.product div.thumbnails.columns-3 a, .woocommerce-page div.product div.thumbnails.columns-3 a {
	margin-right: 3.5%;
	width: 31%;
}
.woocommerce #content div.product div.thumbnails a:before, .woocommerce div.product div.thumbnails a:before, .woocommerce-page #content div.product div.thumbnails a:before, .woocommerce-page div.product div.thumbnails a:before {
	content:' ';
	@include abs-cover;
	@include transition-all;
}
.woocommerce #content div.product div.thumbnails a:hover:before, .woocommerce div.product div.thumbnails a:hover:before, .woocommerce-page #content div.product div.thumbnails a:hover:before, .woocommerce-page div.product div.thumbnails a:hover:before {
	background-color:rgba(255,255,255, 0.4);
}
.woocommerce #content div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first {
    clear: none;
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
    margin-right: 0;
}
.woocommerce #content div.product div.thumbnails a:nth-child(4n+1), .woocommerce div.product div.thumbnails a:nth-child(4n+1), .woocommerce-page #content div.product div.thumbnails a:nth-child(4n+1), .woocommerce-page div.product div.thumbnails a:nth-child(4n+1) {
	clear:both;
}

div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous {
	margin-top:4px;
}

/* Product summary */
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	width:55%;
	padding-left: 5em;
	float: right;
	@include border-box;

}
.woocommerce #content div.product div.summary:after, .woocommerce div.product div.summary:after, .woocommerce-page #content div.product div.summary:after, .woocommerce-page div.product div.summary:after {
	content:' ';
	float:none;
	@include clear;
}


/* Meta: SKU, tags, categories, ID */
.woocommerce .product_meta span {
	display:block;
}
.woocommerce .product_meta span span {
	display:inline;
}
.woocommerce .product_meta span,
.woocommerce .product_meta span span,
.woocommerce .product_meta a {
	font-weight:400;
}
.woocommerce div.product .product_meta span > a,
.woocommerce div.product .product_meta span > span {
	font-size:1em;
	font-style:normal;
	letter-spacing:0;
}
.woocommerce div.product .summary .stock {
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing:1px;
}

/* Add to cart */
.woocommerce div.product form.cart, .woocommerce #content div.product form.cart, .woocommerce-page div.product form.cart, .woocommerce-page #content div.product form.cart { 
	padding: 0;
	margin-bottom:2em;
}
.woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity,
.woocommerce .shop_table.cart div.quantity, .woocommerce-page .shop_table.cart div.quantity {
	margin: 0 10px 0 0;
	@include box(8em, 3.666666666666667em);
	position:relative;
}
.woocommerce .shop_table.cart div.quantity, .woocommerce-page .shop_table.cart div.quantity {
	margin: 0 auto;
	width:6em;
}
.woocommerce div.product form.cart div.quantity span, .woocommerce-page div.product form.cart div.quantity span,
.woocommerce .shop_table.cart div.quantity span, .woocommerce-page .shop_table.cart div.quantity span {
	display:block;
	@include abs-rt;
	@include box(1.5em, 50%, 1.5em);
	text-align:center;
	cursor:pointer;
    padding-right: 0.3em;
}
.woocommerce div.product form.cart div.quantity span.q_inc, .woocommerce-page div.product form.cart div.quantity span.q_inc,
.woocommerce .shop_table.cart div.quantity span.q_inc, .woocommerce-page .shop_table.cart div.quantity span.q_inc {
    @include border-radius-pos('top-right-', 2em); 
}
.woocommerce div.product form.cart div.quantity span.q_dec, .woocommerce-page div.product form.cart div.quantity span.q_dec,
.woocommerce .shop_table.cart div.quantity span.q_dec, .woocommerce-page .shop_table.cart div.quantity span.q_dec {
    @include border-radius-pos('bottom-right-', 2em); 
}
.woocommerce div.product form.cart div.quantity span.q_dec, .woocommerce-page div.product form.cart div.quantity span.q_dec,
.woocommerce .shop_table.cart div.quantity span.q_dec, .woocommerce-page .shop_table.cart div.quantity span.q_dec {
	top: auto;
	bottom:0;
	border-top:1px solid #ffffff;
}
.woocommerce div.product form.cart div.quantity span:before, .woocommerce-page div.product form.cart div.quantity span:before,
.woocommerce .shop_table.cart div.quantity span:before, .woocommerce-page .shop_table.cart div.quantity span:before {
	font-family: $theme_icons;
}
.woocommerce div.product form.cart div.quantity span.q_inc:before, .woocommerce-page div.product form.cart div.quantity span.q_inc:before,
.woocommerce .shop_table.cart div.quantity span.q_inc:before, .woocommerce-page .shop_table.cart div.quantity span.q_inc:before {
	content:'\e835';
}
.woocommerce div.product form.cart div.quantity span.q_dec:before, .woocommerce-page div.product form.cart div.quantity span.q_dec:before,
.woocommerce .shop_table.cart div.quantity span.q_dec:before, .woocommerce-page .shop_table.cart div.quantity span.q_dec:before {
	content:'\e828';
}
.woocommerce div.product form.cart div.quantity input[type="number"], .woocommerce-page div.product form.cart div.quantity input[type="number"],
.woocommerce .shop_table.cart div.quantity input[type="number"], .woocommerce-page .shop_table.cart div.quantity input[type="number"] {
	@include box(100%, 100%);
	padding:0;
	font-size:1em;
}
.quantity .screen-reader-text{
	display: none;
}

/* Product variations */
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
	padding:0 0 0.5em;
	background-color: transparent;
}
.woocommerce div.product form.cart .variations td.label {
	font-weight:400;
	vertical-align: middle;
}
.woocommerce div.product form.cart .variations label {
	font-weight:400;
    font-size: 0.933em;
    text-transform: uppercase;
}
.woocommerce div.product form.cart .reset_variations { 
	font-style:normal;
	font-size: 1em;
	letter-spacing:0;
}
.woocommerce-variation-price {
	margin: 2em 0 1em;
}
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt {
	@include font(0.9333em, 1.25em, 400);
	padding:0;
	margin:0;
}
.woocommerce td.product-name dl.variation dd {
	padding-left: 0.5em;
}
.woocommerce .reset_variations {
	display: none !important;
}
.woocommerce div.product form.cart .group_table td{
	border: 0;
  vertical-align: middle;
}

/* Wishlist and compare */
.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist {
	float:left;
	width: auto;
	margin-top:0;
	margin-bottom: 2em;
}
.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist .feedback {
	display:block;
}
.woocommerce div.product div.summary .compare {
	float:left;
	margin-bottom: 2em;
	margin-right: 2em;
}
.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist .add_to_wishlist:before,
.woocommerce div.product div.summary .compare:before {
	content: '\e93d';
	font-family: $theme_icons;
	margin-right:0.6em;
}
.woocommerce div.product div.summary .yith-wcwl-add-to-wishlist .add_to_wishlist:before {
	content: '\e909';
}
.woocommerce div.product div.summary .compare:before {
	content: '\e8e7';
}

.woocommerce table.wishlist_table {
	font-size:1em;
}
.woocommerce .yith-wcwl-share h4.yith-wcwl-share-title {
	font-size:1.25em;
}
.woocommerce .wishlist_table td.product-add-to-cart a {
	display:inline-block !important;
}


/* Product meta */
.woocommerce div.product .product_meta {
	clear:both;
    font-size: 1.067em;
}


/* Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	padding-left:30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
	border-width:0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	background:#ffffff;
	border:none;
	padding: 0 6px;
	@include box-shadow(none);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
	border: none;
	@include border-sharp;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
	display:none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
    text-shadow: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
	font-weight:400;
	padding:0.75em 2em;
}

.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
	border-width: 1px;
	border-style: solid;
    margin: 0;
    padding: 2em;
	display:none;
}
.woocommerce div.product .woocommerce-tabs h2, .woocommerce #content div.product .woocommerce-tabs h2, .woocommerce-page div.product .woocommerce-tabs h2, .woocommerce-page #content div.product .woocommerce-tabs h2 {
	margin:0 0 1em;
	@include font(1.5385em, '', 400);
	letter-spacing:1px;
}
.woocommerce div.product .woocommerce-tabs h3, .woocommerce #content div.product .woocommerce-tabs h3, .woocommerce-page div.product .woocommerce-tabs h3, .woocommerce-page #content div.product .woocommerce-tabs h3 {
	font-size: 1.5385em;
	margin-bottom:0.25em !important;
	letter-spacing:1px;
}
.woocommerce div.product .woocommerce-tabs p, .woocommerce #content div.product .woocommerce-tabs p, .woocommerce-page div.product .woocommerce-tabs p, .woocommerce-page #content div.product .woocommerce-tabs p {
	margin:0;
}
.woocommerce div.product .woocommerce-tabs p+p, .woocommerce #content div.product .woocommerce-tabs p+p, .woocommerce-page div.product .woocommerce-tabs p+p, .woocommerce-page #content div.product .woocommerce-tabs p+p {
	margin-top:0.5em;
}
.woocommerce div.product .woocommerce-tabs #tab-description h2 {
	display:none;
}

/* Decorate tabs on single product */
.single-product div.product .trx-stretch-width-wrap {
	clear:both;
	padding-top: 3em;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs {
	padding: 2vw 0 0;
	border-top-width: 0;
	border-top-style: solid;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .panel {
	border: none;
    padding: 3em 0 0 0;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs {
	padding-left: 0;
	margin-bottom:-1px;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs:before,
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs:after {
	display: none;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li {
	border: none !important;
	background-color: transparent !important;
	margin:0 !important;
	padding:0 !important;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li a {
	position:relative;
	//@include font(12px, '', normal, normal);
	//padding: 1.1em 3em 0.9em;
	//text-transform:uppercase;
	//letter-spacing:1px;
	//@include border-box;
}
.single-product div.product .trx-stretch-width .woocommerce-tabs #review_form_wrapper {
	margin-top: 1em;
}

/* Additional attributes */
.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
	font-weight:400;
	text-align:left;
}

/* Stars */
.woocommerce div.product .woocommerce-product-rating, .woocommerce-page div.product .woocommerce-product-rating {
	float:right;
	margin-top: 0.15em;
	margin-bottom: 1em;
}
.woocommerce .woocommerce-product-rating .woocommerce-review-link, .woocommerce-page .woocommerce-product-rating .woocommerce-review-link {
	display:none;
}
.woocommerce .woocommerce-product-rating .star-rating, .woocommerce-page .woocommerce-product-rating .star-rating {
	margin-top:4px;
	margin-bottom:4px;
}
.woocommerce .star-rating, .woocommerce-page .star-rating { 
	@include box(5.5em, 1.2em);
	margin-top:4px;
	margin-bottom:4px;
}


/* Users reviews */
.woocommerce #reviews #comments ol.commentlist {
	padding:0;
	font-style:inherit;
	font-weight:inherit;
}
.woocommerce #reviews #comments ol.commentlist li {
	margin-bottom:0;
}
.woocommerce .woocommerce-tabs .form-submit {
	display:block;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	background:none;
	border:none;
	padding:0;
	width: 4em;
	float:left;
	margin:0 1.5em 0.5em 0;
	position:static;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin:0;
	padding:0;
	border:0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	margin-top:-5px;
	margin-bottom:4px;
	font-size:0.9333em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
	@include font(1em, '', 400);
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta time {
	font-style: normal;
	letter-spacing:0;
}

.woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea {
	height: 10em;
	font-weight: 400;
	overflow:auto;
}

.woocommerce #review_form #respond #reply-title {
	@include font(1.5385em, 1.25em, 400);
	letter-spacing:1px;
	margin-bottom:0.2em;
}
.woocommerce #review_form #respond p {
	margin: 0.5em 0 1.5em;
}
.woocommerce #review_form #respond p label{
    padding-bottom: 0.7em;
    display: inline-block;
}
.woocommerce #review_form #respond p.comment-form-rating,
.woocommerce #review_form #respond p.comment-form-rating .stars {
	margin-bottom:0;
}
.woocommerce #review_form #respond p.stars {
	margin-bottom:0;
}

.woocommerce .comment-form .comment-form-author label,
.woocommerce .comment-form .comment-form-email label {
	min-width: 60px;
	display: inline-block;
}


/* Related products */
.single-product .related {
	margin-top:3.9vw;
	padding-top: 3.8vw;
	border-top: 2px solid #ddd;
}
.single-product .woocommerce-tabs + .related {
	padding-top: 0;
	border-top: none;
}
.single-product .related h2 {
    font-size: 2.4em;
    text-align: center;
	margin-top:0;
}
.single-product ul.products li.product .post_item {
	padding: 0;
	position:relative;
}
.single-product ul.products li.product .post_featured {
	margin:0;
	min-height: 11em;
    overflow: visible;
}
.single-product ul.products li.product .post_featured.hover_shop .icons {
	top: 60%;
	height: 40%;
}
.single-product .footer_copyright_wrap {
	margin-top:5em;
}
.single-product .footer_logo_wrap + .footer_copyright_wrap,
.single-product .footer_socials_wrap + .footer_copyright_wrap,
.single-product .footer_menu_wrap + .footer_copyright_wrap {
	margin-top:0;
}

.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
	border:none;
	box-shadow: none;
}

/* Categories list */
.woocommerce ul.products li.product.product-category .thumb_wrapper,
.woocommerce-page ul.products li.product.product-category .thumb_wrapper {
	@include border-round;
	background:url(images/woo/shop-cat-bg-1.jpg) center center no-repeat;
	padding:1em;
	overflow:hidden;
}
/* not work correctly in the Chrome */
.woocommerce ul.products li.product.product-category .thumb_wrapper img,
.woocommerce-page ul.products li.product.product-category .thumb_wrapper img {
	-moz-transform: scale(1.7) translate(15%,15%);
	 -ms-transform: scale(1.7) translate(15%,15%);
	  -o-transform: scale(1.7) translate(15%,15%);
}
@for $i from 1 through 6 {
	@if $i == 1 {
		.woocommerce ul.products li.product.product-category .thumb_wrapper,
		.woocommerce-page ul.products li.product.product-category .thumb_wrapper {
			background:url(unquote("images/woo/shop-cat-bg-#{$i}.jpg")) center center no-repeat;
		}
	} @else {
		.woocommerce ul.products li.product.product-category:nth-child(6n+#{$i}) .thumb_wrapper,
		.woocommerce-page ul.products li.product.product-category:nth-child(6n+#{$i}) .thumb_wrapper {
			background:url(unquote("images/woo/shop-cat-bg-#{$i}.jpg")) center center no-repeat;
		}
	}
}
.woocommerce ul.products li.product.product-category img,
.woocommerce-page ul.products li.product.product-category img {
	@include box(100%, auto);
}

.woocommerce ul.products li.product.product-category h3, .woocommerce ul.products li.product.product-category .woocommerce-loop-category__title,
.woocommerce-page ul.products li.product.product-category h3, .woocommerce-page ul.products li.product.product-category .woocommerce-loop-category__title {
	margin-bottom:0;
	border-bottom:none;
}
.woocommerce ul.products li.product.product-category mark.count,
.woocommerce-page ul.products li.product.product-category mark.count {
	font-weight:400;
	font-style:normal;
}




/* Widgets decoration 
---------------------------------------------------------------*/

/* Cart & Products list */
.woocommerce a.remove {
	margin-top:0.5em;
	text-align:left;
}
.woocommerce a.remove,
.woocommerce a.remove:hover {
	color: #e05100 !important;
	background-color:transparent !important;
}
.woocommerce table.shop_table {
	border-collapse:collapse;
	margin-bottom: 2em;
	border: none;
}
.woocommerce table.shop_table tr:first-child th {
	border-style:solid;
	border-width: 0 0 1px 0 !important;
}
.woocommerce table.shop_table tr:nth-child(n+1) th:first-child,
.woocommerce table.shop_table tr:nth-child(n+1) td:first-child,
.woocommerce table.shop_table td {
	border-style:solid;
	border-width: 1px 0;
}
.woocommerce .shop_table p {
	margin: 0;
}
.woocommerce .shop_table a.remove {
	margin:0 auto;
	font-weight:400;
	text-align:center;
}
.woocommerce ul.product_list_widget li, .woocommerce-page ul.product_list_widget li {
	//padding: 0 0 1em 3.75em;
	overflow:hidden;
    padding: 1.5em 0 1em 10.25em;
    min-height: 7.4em;
    padding-left: 44%;
    text-align: left;
}
.woocommerce.widget_shopping_cart ul.cart_list li {
	padding: 1.5em 0 1em 10.25em;
	overflow:hidden;
    min-height: 7.4em;
    padding-left: 44%;
    text-align: left;
}
.woocommerce ul.cart_list li dl:after, .woocommerce ul.product_list_widget li dl:after {
	clear: none;
}
.woocommerce ul.cart_list li:before, .woocommerce-page ul.cart_list li:before,
.woocommerce ul.product_list_widget li:before, .woocommerce-page ul.product_list_widget li:before {
	display:none;
}
.woocommerce ul.cart_list li a, .woocommerce-page ul.cart_list li a,
.woocommerce ul.product_list_widget li a, .woocommerce-page ul.product_list_widget li a {
    font-weight: 400;
}
.woocommerce ul.cart_list li a:not(.remove), .woocommerce-page ul.cart_list li a:not(.remove),
.woocommerce ul.product_list_widget li a:not(.remove), .woocommerce-page ul.product_list_widget li a:not(.remove) {
    font-size: 1.2em;
}
.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img,
.woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img {
	width:8em;
	width:39%;
	float:none;
	margin: 0;
	@include abs-lt(0, 6px);
	@include box-shadow(none);
}
.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img {
	left: 0;
}
.woocommerce ul.cart_list li dl, .woocommerce-page ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl, .woocommerce-page ul.product_list_widget li dl {
	overflow:hidden;
	font-size:12px;
	border-left-width: 1px;
	padding-left:8px;
}
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce ul.product_list_widget li dl dt {
	padding:0;
	margin:0;
}
.woocommerce ul.product_list_widget li dl dt,
.woocommerce-page ul.product_list_widget li dl dt {
	font-weight:400;
	margin-right: 0.3em;
}
.woocommerce ul.product_list_widget li dl dt:before,
.woocommerce-page ul.product_list_widget li dl dt:before {
	content:' ';
	display:block;
	@include box(100%, 0);
}
.woocommerce ul.cart_list li dl dd, .woocommerce-page ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd, .woocommerce-page ul.product_list_widget li dl dd {
	margin-right: 2em;
}
.woocommerce.widget_shopping_cart .quantity, .woocommerce .widget_shopping_cart .quantity, .woocommerce-page.widget_shopping_cart .quantity, .woocommerce-page .widget_shopping_cart .quantity {
	margin: 0.1em 0 0;
	display:inline-block;
}
.woocommerce ul.cart_list li > .amount, .woocommerce ul.product_list_widget li > .amount, .woocommerce-page ul.cart_list li > .amount, .woocommerce-page ul.product_list_widget li > .amount,
.woocommerce ul.cart_list li span .amount, .woocommerce ul.product_list_widget li span .amount, .woocommerce-page ul.cart_list li span .amount, .woocommerce-page ul.product_list_widget li span .amount,
.woocommerce ul.cart_list li ins .amount, .woocommerce ul.product_list_widget li ins .amount, .woocommerce-page ul.cart_list li ins .amount, .woocommerce-page ul.product_list_widget li ins .amount {
    @include font(1em, '', 400);
}
.woocommerce ul.cart_list li ins, .woocommerce ul.product_list_widget li ins, .woocommerce-page ul.cart_list li ins, .woocommerce-page ul.product_list_widget li ins {
	text-decoration:none;
	font-style:normal;
}
.woocommerce ul.cart_list li del, .woocommerce ul.product_list_widget li del, .woocommerce-page ul.cart_list li del, .woocommerce-page ul.product_list_widget li del {
    font-size: 0.875em; 
}

.woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
	font-size:1.6em;
    padding: 0.75em 0 0;
    text-align: left;
}
.woocommerce.widget_shopping_cart .total .amount, .woocommerce .widget_shopping_cart .total .amount, .woocommerce-page.widget_shopping_cart .total .amount, .woocommerce-page .widget_shopping_cart .total .amount {
	@include font(1em, '', '');
}
.woocommerce.widget_shopping_cart .buttons, .woocommerce .widget_shopping_cart .buttons, .woocommerce-page.widget_shopping_cart .buttons, .woocommerce-page .widget_shopping_cart .buttons {
    margin-top:2.5em;
    text-align: left;
}

/* Active filters */
.woocommerce .widget_layered_nav_filters > ul > li {
	padding:0 0.625em 0.5em 0; 
	display:block;
}
.woocommerce .widget_layered_nav_filters > ul > li:before {
	display:none;
}
.woocommerce .widget_layered_nav ul {
	padding-left: 1.2em;
}
.woocommerce .widget_layered_nav_filters > ul > li a,
.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a {
	background-color: transparent;
	border:none;
	padding:0;
}

/* Average Rating */
.woocommerce .widget_rating_filter ul li .star-rating {
	vertical-align:middle;
}

/* Price filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	margin-bottom:2.5em;
	height: 4px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	@include border-round;
	@include box(12px, 12px);
    margin-left: -6px;
    top: -4px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height:4px;
	top: 0px;
}
.woocommerce .widget_price_filter .price_slider_amount {
	@include font(1em, 2.5em);
}
.woocommerce .widget_price_filter .price_slider_amount span {
	font-weight: 400;
}
.woocommerce .widget_price_filter .price_slider_amount .button { 
	font-size:14px;
}
.widget_price_filter .price_label {
    padding-top: 0.4em;
}

/* Product search */
/* This widget's styles see in the style.css in the section 'Widget: Search' */

/* Rating filter */
.woocommerce.widget_rating_filter ul li:before {
	display:none !important;
}


/* Product title in widgets */
aside.woocommerce .product-title,
aside.woocommerce .mini_cart_item > a:not(.remove) {
	display:block;
	line-height:1.333em;
}

.widget.WOOCS_CONVERTER .woocs_converter_shortcode > * {
	vertical-align:middle;
}
.widget.WOOCS_CONVERTER .woocs_converter_shortcode .select_container {
	display: inline-block;
	width: 43%;
	margin-right:0.3em;
}
.widget.WOOCS_CONVERTER .woocs_converter_shortcode .select_container + .select_container {
	margin-left:0.3em;
	margin-right:0;
}
.widget.WOOCS_CONVERTER .button {
	margin-top: 1em;
}

.widget.WOOCS_SELECTOR .woocommerce-currency-switcher-form .chosen-container-single .chosen-single {
	height: auto;
	padding: 1em 0 1em 1em;
	@include box-shadow(none);
}
.widget.WOOCS_SELECTOR .woocommerce-currency-switcher-form .chosen-container-single .chosen-single div {
	background: none;
}
.widget.WOOCS_SELECTOR .chosen-container-single .chosen-drop {
	margin-top: 1px;
	@include box-shadow(none);
	@include border-radius(4px);
}
.widget.WOOCS_SELECTOR .woocommerce-currency-switcher-form .chosen-container .chosen-results li {
	background-position: right center !important;
}


.yith-woocompare-widget ul.products-list {
	padding-left: 0;
}
.yith-woocompare-widget ul.products-list li:before {
	display: none;
}
.yith-woocompare-widget ul.products-list li .remove {
	margin-top: 0;
}
.yith-woocompare-widget a.compare {
	float:left;
}
.yith-woocompare-widget a.clear-all {
	display:inline-block;
	float:right;
}



/* Cart 
--------------------------------------------------------------------- */
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	font-weight: 400;
	padding-left:0.75em;
	padding-right:0;
	width: 4em;
	@include font(0.8421em, 1em);
}

.woocommerce table.cart .product-remove, .woocommerce #content table.cart .product-remove, .woocommerce-page table.cart .product-remove, .woocommerce-page #content table.cart .product-remove,
.woocommerce table.cart .product-thumbnail, .woocommerce #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail {
	text-align:center;
	width: 40px;
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
	width: 40px;
}
.woocommerce table.cart .product-name, .woocommerce #content table.cart .product-name, .woocommerce-page table.cart .product-name, .woocommerce-page #content table.cart .product-name {
	text-align:left !important;
}
.woocommerce table.cart th, .woocommerce #content table.cart th, .woocommerce-page table.cart th, .woocommerce-page #content table.cart th,
.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
	padding: 12px;
	text-align: center;
}

.woocommerce table.cart td.actions, .woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
	border-bottom: none !important;
	padding-top:1em;
}
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 10.7em;
	margin-right:0.3em;
}
.woocommerce table.cart td.actions .coupon + .button,
.woocommerce #content table.cart td.actions .coupon + .button,
.woocommerce-page table.cart td.actions .coupon + .button,
.woocommerce-page #content table.cart td.actions .coupon + .button {
	float: right;
}
.woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th {
	text-align:center;
}
.woocommerce .cart-collaterals h2, .woocommerce-page .cart-collaterals h2 {
	@include font(1.5em, 1.3em, 400);
	margin: 1em 0 0.6em;
}

.woocommerce .cart-collaterals .cart-subtotal .amount, .woocommerce-page .cart-collaterals .cart-subtotal .amount {
	@include font(1em, '', 700);
}

.woocommerce .cart-collaterals .cart_totals table {
	border-collapse:collapse;
}
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table td {
	padding: 6px 6px 6px 15px;
	vertical-align:middle;
}
.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
	padding: 6px 15px 6px 6px;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
}
.woocommerce .cart-collaterals .cart_totals table select, .woocommerce-page .cart-collaterals .cart_totals table select {
	font-size:1em;
}

.woocommerce table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: 100px;
}

.woocommerce ul#shipping_method li {
	padding-left:0;
	text-indent:0;
}

.woocommerce .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form,
.woocommerce-page .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form {
	margin: 1em 0;
}
.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after,
.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
	@include font(1em, '', 400);
}

 #add_payment_method .wc-proceed-to-checkout a.checkout-button,
 .woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
 .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	 display: block;
 }

.woocommerce-shipping-calculator .select2-container.select2-container--default .select2-selection .select2-selection__arrow {
	display: none;
}
.woocommerce-shipping-calculator .select_container:before {
	top: 2px;
	right: 2px;
	bottom: 2px;
}


/* Checkout 
--------------------------------------------------------------------------*/

form.checkout_coupon button,
.woocommerce-form.woocommerce-form-login button {
    font-size: 13px !important;
    padding-top: 0.971429em !important;
    padding-bottom: 1.185714em !important;
}
.woocommerce form .form-row {
	padding:0;
	margin-bottom: 1em;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    line-height: 1.5em;
    padding-bottom: 1em;
}
.woocommerce form .form-row label.inline {
	margin-left: 1em;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	line-height:1.2em;
}

.woocommerce form.checkout_coupon {
	padding-bottom: 0.6em;
}
.woocommerce form.checkout_coupon p+p {
	float: left;
	padding-left: 0.3em;
}

.woocommerce-checkout h3 {
	margin-bottom: 0.6em;
	margin-top:0;
}
/*.woocommerce .checkout input[type="radio"], */
.woocommerce .checkout input[type="checkbox"] {
	display:inline;
}

.woocommerce .checkout .col-2 h3#ship-to-different-address label, .woocommerce-page .checkout .col-2 h3#ship-to-different-address label {
	display:inline-block;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
	font-weight:400;
}

.woocommerce .checkout table.shop_table {
	margin-bottom: 3em;
}
.woocommerce .checkout table.shop_table th, .woocommerce .checkout table.shop_table td {
	text-align:left;
}

.woocommerce .checkout table.shop_table tfoot th {
	text-align:right;
}
.woocommerce .checkout table.shop_table tfoot td,
.woocommerce .checkout table.shop_table tfoot th {
	font-weight: 400;
}

.woocommerce table.shop_table .cart-subtotal .amount, .woocommerce-page table.shop_table .cart-subtotal .amount,
.woocommerce table.shop_table .shipping td, .woocommerce-page table.shop_table .shipping td {
	font-weight:400;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    clear: none;
    float: left;
	margin-bottom:30px;
}
.woocommerce .checkout #order_review, .woocommerce-page .checkout #order_review {
	margin-bottom:3em;
}
.woocommerce .checkout #order_review_heading, .woocommerce-page .checkout #order_review_heading {
	padding-top:1.825em;
}
.woocommerce .checkout #order_review .order-total .amount, .woocommerce-page .checkout #order_review .order-total .amount {
	letter-spacing: 0;
}
.woocommerce .checkout #order_review .payment_methods li, .woocommerce-page .checkout #order_review .payment_methods li {
	list-style:none;
}
.woocommerce .checkout #order_review .payment_methods li label, .woocommerce-page .checkout #order_review .payment_methods li label {
	display:inline-block;
}

#add_payment_method #payment ul.payment_methods li img, .woocommerce-checkout #payment ul.payment_methods li img {
	margin: -5px 0.5em 0;
	max-height: 30px;
}
.woocommerce-checkout #payment div.payment_box:after {
	top:0;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background-color: transparent;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
	border-top: 1px solid #ddd;
}
#add_payment_method #payment .payment_method_paypal .about_paypal,
.woocommerce-cart #payment .payment_method_paypal .about_paypal, .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	line-height:1.7em;
	float: none;
}

.woocommerce .order_details.woocommerce-thankyou-order-details {
	padding: 1em;
}
.woocommerce .order_details.woocommerce-thankyou-order-details li strong {
	font-weight:400;
	margin-top: 0.2em;
}

.woocommerce .shop_table.order_details th,
.woocommerce .shop_table.customer_details th {
	text-align: left;
}
.woocommerce .shop_table.order_details tfoot th {
	text-align:right;
}
.woocommerce .shop_table.order_details td.product-name strong {
	font-style:normal;
}
.woocommerce .order_details li,
.woocommerce-page .order_details li {
    @include font(1em, 1em);
	list-style:none;
}

.woocommerce .woocommerce-customer-details address {
	@include border-box;
}

.woocommerce form .form-row #createaccount {
	margin-right: 4px;
	vertical-align:middle;
}
.woocommerce form .form-row input[type="radio"] + label:before,
.woocommerce form .form-row input[type="checkbox"] + label:before {
	top: 10px;
}



/* My Account
--------------------------------------------------------------------------*/
.woocommerce form .form-row label.inline input[type="checkbox"] {
	display:inline;
	position:relative;
	top:2px;
}
.woocommerce-account h2,
.woocommerce-account .address .title h3 {
	margin: 1em 0 0.4em;
}
.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-content .woocommerce-Address-title a {
	@include font(1em, 1.4em, 400);
	text-transform:uppercase;
}
.woocommerce-account .woocommerce-MyAccount-navigation  {
	width: 20%;
	float: left;
}
.woocommerce-MyAccount-navigation ul {
	padding: 0;
	margin:0;
	list-style-type:none;
}
.woocommerce-MyAccount-navigation ul li {
	padding:0;
	margin:0;
}
.woocommerce-MyAccount-navigation ul li+li {
	border-top: 1px dotted #ddd;
}
.woocommerce-MyAccount-navigation ul li a {
	display: block;
	padding: 1.2em 0 0.8em;
	@include transition-color;
}

.woocommerce table.my_account_orders {
	font-size: 1em;
}
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
	font-weight:400;
}
.woocommerce table.shop_table tfoot tr:last-child td {
	font-weight:700;
}
.woocommerce-account .woocommerce-MyAccount-content {
	width: 75%;
	float: right;
}
.woocommerce-MyAccount-content .my_account_orders th {
	text-align:left;
}
.woocommerce-MyAccount-content .my_account_orders .button {
	padding:0;
	background-color: transparent !important;
}
.woocommerce-MyAccount-content .my_account_orders .button+.button:before {
	content: '|';
	display: inline-block;
	line-height:inherit;
	margin: 0 0.5em;
}
.woocommerce-MyAccount-content .woocommerce-Address-title {
	position:relative;
}
.woocommerce-MyAccount-content .woocommerce-Address-title h3 {
	display:inline-block;
	margin-top:0.5em;
}
.woocommerce-MyAccount-content .woocommerce-Address-title a {
	display:inline-block;
	vertical-align:text-top;
	margin:0 0 0 2em;
	text-decoration: underline;
	float:none !important;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset {
	margin-top: 2em;
}
.woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset legend {
	top: -1em;
}

.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th {
	padding:10px 8px 7px;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	@include border-sharp;
}


/* Responsive tables
----------------------------------------------------------------- */
.woocommerce table.shop_table_responsive thead, .woocommerce-page table.shop_table_responsive thead {
	display:table-row-group;
}
.woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr {
	display:table-row;
}
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
	display:table-cell;
	text-align: left !important;
	vertical-align:top;
}
.woocommerce table.shop_table_responsive tr td.product-price, .woocommerce-page table.shop_table_responsive tr td.product-price,
.woocommerce table.shop_table_responsive tr td.product-quantity, .woocommerce-page table.shop_table_responsive tr td.product-quantity,
.woocommerce table.shop_table_responsive tr td.product-subtotal, .woocommerce-page table.shop_table_responsive tr td.product-subtotal {
	text-align:center !important;
}
.woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before {
	display: none;
}

.woocommerce .post_featured.hover_shop_buttons {
    .icons {
        @include transform(translateY(-40%));
        @include abs-pos(50%, 0, auto, 0, 1002);
        @include transition(all 0.3s linear);
        pointer-events: none;
            a {
                @include border-radius(2em !important); 
                @include border-box;
                max-width: 90%;
                width: 13em;
                padding: 1.071428571428571em 1em 1.2857142857em !important;
                text-transform: uppercase !important;
                font-size: 14px;
                position: static;
                display: block !important;
                margin: auto !important;
                opacity: 0;
                    &:before {
                        display: none;
                    }
				&.product_type_external {
					width: auto;
					white-space: unset;
				}
            }
            a + a {
                margin-top: 10px !important;
            }
    }
    &:hover {
        .icons {
            @include transform(translateY(-50%));
            a {
                @include border-radius(2em);
                opacity: 1;
            }
        }
        .mask {
            opacity: 1;
            display: block;
            background-color:  rgba(255, 255, 255, 0.41);
        }
    }
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
    left: auto;
    right: 0;
    margin-top: -4px;
}
.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
    border-top: none;
}

.trx_addons_attrib_item.trx_addons_attrib_color,
.trx_addons_attrib_item.trx_addons_attrib_color span{
    @include border-radius(50%);
}
.trx_addons_attrib_item.trx_addons_attrib_color span {
    width: 53px;
    height: 53px
}
.woocommerce div.product form.cart .variations tr + tr td.label {
    padding: 1em 0 0.5em;
}

.woocommerce .widget_shopping_cart .buttons, .woocommerce.widget_shopping_cart .buttons {
    margin-right: -5px;
}
.woocommerce .widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a {
    margin-right: 5px;
    margin-bottom: 5px;
}
.woocommerce div.product form.cart table {
	~ .button {
		margin-top: 30px;
	}
}

/* Swiper pagination bullet for woocommerce */
.sc_blogger_products .slider_pagination_wrap{
	display: flex;
}
.sc_blogger_products .slider_pagination_wrap .swiper-pagination-bullet{
	border-radius: 0;
	width: 100%;
	height: 5px;
	margin: 0;
	border: 0;
	transition: all 0.3s;
}

.sc_blogger_products .slider_container.slider_pagination_pos_right .swiper-pagination-bullets,
.sc_blogger_products .slider_container.slider_pagination_pos_left .swiper-pagination-bullets{
	flex-direction: column;
}
.sc_blogger_products .sc_blogger_slider.slider_outer_pagination_pos_bottom{
	padding-bottom: 3.5em;
}