@mixin woocommerce--xl() {
	/* WooCommerce */
	.woocommerce .the_mounty_shop_mode_buttons, .woocommerce-page .the_mounty_shop_mode_buttons {
		font-size: 1em;
		margin: 1.25em 0.8em 1.25em 0;
	}	
}

@mixin woocommerce--lg() {

    form.checkout_coupon button, .woocommerce-form.woocommerce-form-login button {
        font-size: 12px !important;
        padding-top: 11px !important;
        padding-bottom: 14px !important;
    }
    .woocommerce ul.cart_list li a:not(.remove), .woocommerce-page ul.cart_list li a:not(.remove), .woocommerce ul.product_list_widget li a:not(.remove), .woocommerce-page ul.product_list_widget li a:not(.remove) {
        font-size: 1em;
    }
    
	/* WooCommerce */
	.woocommerce .the_mounty_shop_mode_buttons, .woocommerce-page .the_mounty_shop_mode_buttons {
		font-size: 14px;
		margin: 16px 10px 16px 0;
	}	
}

@mixin woocommerce--md() {
    
    form.checkout_coupon button, .woocommerce-form.woocommerce-form-login button {
        font-size: 12px !important;
        padding-top: 11px !important;
        padding-bottom: 13px !important;
    }
    
	/* WooCommerce */
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		width: 40%;
	}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		width:60%;
		padding-left:2.5em;
	}
	.woocommerce div.product .woocommerce-product-rating, .woocommerce-page div.product .woocommerce-product-rating {
		margin-top:-4px;
	}
	.woocommerce div.product p.price {
		margin-bottom: 1em;
	}
	span.amount > .decimals {
		//font-size: 0.6em;
		//margin-left: 0.1em;
	}
	
	.post_featured.hover_shop_buttons .icons {
		font-size:12px;
	}
	
	.woocommerce .star-rating, .woocommerce-page .star-rating {
		margin-top:0;
	}
	
	.single-product ul.products li.product .post_data {
		padding:1em;
	}
	.single-product ul.products li.product .post_data .post_header h3,
	.single-product ul.products li.product .post_data .post_header .woocommerce-loop-product__title {
		font-size: 20px;
	}
	.single-product ul.products li.product .post_data .price {
		margin: 1em 0;
	}
	
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .coupon .button.alt, .woocommerce #content table.cart td.actions .coupon .input-text + .button, .woocommerce table.cart td.actions .coupon .button.alt, .woocommerce table.cart td.actions .coupon .input-text + .button, .woocommerce-page #content table.cart td.actions .coupon .button.alt, .woocommerce-page #content table.cart td.actions .coupon .input-text + .button, .woocommerce-page table.cart td.actions .coupon .button.alt, .woocommerce-page table.cart td.actions .coupon .input-text + .button {
		float: left;
		width: auto;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
		display:inline-block;
	}
	
	.woocommerce-MyAccount-navigation ul li a {
		padding: 1em 0 0.6em;
	}
	.woocommerce-account .woocommerce-MyAccount-content .addresses.col2-set .col-1 {
		float:left;
		width: 48%;
	}
	.woocommerce-account .woocommerce-MyAccount-content .addresses.col2-set .col-2 {
		float:right;
		width: 48%;
	}
	
	.woocommerce ul.order_details {
		margin-bottom:2em;
	}
	.woocommerce ul.order_details li {
		float:none;
		@include font(1em, 1.3em);
		margin-top: 1em;
		border-right: none;
	}
	.woocommerce ul.order_details li strong {
		font-size: 1.15em;
	}
}

@mixin woocommerce--sm() {
    
    .woocommerce .woocommerce-checkout .woocommerce-shipping-fields {
        margin-top:2em;
    }
    .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
        border: none;
    }
    .woocommerce div.product p.price, .woocommerce div.product span.price {
        font-size: 2.2em;
    }
    .woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce .shop_table.cart div.quantity, .woocommerce-page .shop_table.cart div.quantity {
        height: 3.467em;
    }
    
    
    
	/* WooCommerce */
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right: -20px;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product,
	.woocommerce[class*="columns-"] ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product {
		padding: 0 20px 20px 0;
	}
	@for $i from 3 through 6 {
		.woocommerce.columns-#{$i} ul.products li.product, .woocommerce-page.columns-#{$i} ul.products li.product,
		.woocommerce ul.products.columns-#{$i} li.product, .woocommerce-page ul.products.columns-#{$i} li.product,
		.woocommerce ul.products li.product.column-1_#{$i}, .woocommerce-page ul.products li.product.column-1_#{$i},
		.woocommerce .related.products ul.products.columns-#{$i} li.product, .woocommerce-page .related.products ul.products.columns-#{$i} li.product,
		.woocommerce .related.products ul.products li.product.column-1_#{$i}, .woocommerce-page .related.products ul.products li.product.column-1_#{$i},
		.woocommerce .upcells.products ul.products.columns-#{$i} li.product, .woocommerce-page .upcells.products ul.products.columns-#{$i} li.product,
		.woocommerce .upcells.products ul.products li.product.column-1_#{$i}, .woocommerce-page .upcells.products ul.products li.product.column-1_#{$i} {
			width: 50%;
		}
	}

	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
		clear: none;
	}
	.woocommerce ul.products li:nth-child(2n+3), .woocommerce-page ul.products li:nth-child(2n+3) {
		clear: both;
	}
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images,
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		width:100%;
	}

	.woocommerce .shop_mode_list ul.products li.product .post_content, .woocommerce-page .shop_mode_list ul.products li.product .post_content {
		margin: 1em 0 1.2em;
	}
	
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		width: 100%;
		float: none;
		margin:0 0 2em;
	}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		width:100%;
		float: none;
		padding-left:0;
	}
	
	.single-product div.product .trx-stretch-width-wrap {
		padding-top: 2em;
	}
	.single-product div.product .trx-stretch-width .woocommerce-tabs {
		//padding-top:4em;
	}
	.single-product div.product .trx-stretch-width .woocommerce-tabs .panel {
		padding-top: 2em;
	}
	.single-product div.product .woocommerce-tabs .wc-tabs li,
	.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li {
		margin-bottom: 10px !important;
	}
	.single-product div.product .woocommerce-tabs .wc-tabs li a,
	.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li a {
		//padding: 1.1em 2em 0.9em;
        font-size: 11px;
	}
	
	
	.single-product .related {
		margin-top: 4em;
		padding-top: 3em;
	}
	.single-product ul.products li.product .post_data {
		padding:10px;
	}
	.single-product ul.products li.product .post_data .post_header h3,
	.single-product ul.products li.product .post_data .post_header .woocommerce-loop-product__title {
		font-size: 18px;
	}
	.single-product ul.products li.product .post_data .price {
		margin: 10px 0;
	}
	
	.woocommerce table.cart .product-remove, .woocommerce #content table.cart .product-remove, .woocommerce-page table.cart .product-remove, .woocommerce-page #content table.cart .product-remove {
		width: 12px;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
		float: none;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation {
		border-top: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
		margin-bottom: 2em;
	}
	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content .woocommerce-Address-title a {
		font-size: 12px;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation ul {
		width: 100%;
		text-align:center;
		padding: 1em 0;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		display:inline-block;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation ul li+li {
		border-top-width: 0;
	}
	.woocommerce-MyAccount-navigation ul li a {
		padding: 8px 10px;
	}
}

@mixin woocommerce--xs() {

    .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
        width: 100%;
    }
    .woocommerce form.checkout_coupon p + p {
        float: none;
    }
    
    .woocommerce table.cart td.actions, .woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
        padding-bottom: 1em;
    }
    .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
        width: 10em;
    }
    .single-product .related h2 {
        font-size: 24px;
    }
    .woocommerce div.product p.price, .woocommerce div.product span.price {
        font-size: 1.5em;
    }
    
    
    
	/* WooCommerce */
	.post_featured.hover_shop_buttons .icons a:before {
		display: none;
	}
	
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right: 0;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product,
	.woocommerce[class*="columns-"] ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product {
		padding: 0 0 20px 0;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce ul.products[class*="column-"] li.product, .woocommerce-page ul.products[class*="column-"] li.product,
	.woocommerce ul.products li.product[class*="column-"], .woocommerce-page ul.products li.product[class*="column-"] {
		width: 100% !important;
	}

	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: none;
		clear: both;
	}
	
	.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
		font-size:9px;
	}
	.woocommerce ul.products li.product .post_data, .woocommerce-page ul.products li.product .post_data {
		padding: 1.5em 1em;
	}
	.woocommerce ul.products li.product .post_header .post_tags {
		@include font(11px, 1.2em);
	}
	.woocommerce .shop_mode_thumbs ul.products li.product h3, .woocommerce-page .shop_mode_thumbs ul.products li.product h3 {
		@include font(1em, 1.25em);
	}
	
	.woocommerce .shop_mode_list ul.products li.product + li.product .post_item, .woocommerce-page .shop_mode_list ul.products li.product + li.product .post_item {
		padding-top: 4em;
	}
	.woocommerce .shop_mode_list ul.products li.product .post_featured, .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
		float: none;
		margin: 0 0 2em 0;
		max-width: none;
		width: 100%;
	}
	.woocommerce div.product p.price {
		line-height:1.25em;
	}
	
	.single-product div.product .trx-stretch-width-wrap {
		padding-top: 1em;
	}
	.single-product div.product .trx-stretch-width .woocommerce-tabs {
		//padding-top:3em;
	}
	.single-product div.product .woocommerce-tabs .wc-tabs li a,
	.single-product div.product .trx-stretch-width .woocommerce-tabs .wc-tabs li a {
		letter-spacing:0;
	}

	.woocommerce div.product .woocommerce-tabs h2, .woocommerce #content div.product .woocommerce-tabs h2, .woocommerce-page div.product .woocommerce-tabs h2, .woocommerce-page #content div.product .woocommerce-tabs h2,
	.woocommerce div.product .woocommerce-tabs h3, .woocommerce #content div.product .woocommerce-tabs h3, .woocommerce-page div.product .woocommerce-tabs h3, .woocommerce-page #content div.product .woocommerce-tabs h3 {
		letter-spacing:0;
		line-height:1.25em;
	}
	
	.single-product .related ul.products li.product {
		width: 100%;
	}
	.single-product ul.products li.product .post_data {
		height:100%;
	}
	.single-product ul.products li.product .post_data_inner {
		top: 35%
	}
	.single-product ul.products li.product .post_data .post_header .post_tags {
		@include font(11px, 13px);
	}
	.single-product ul.products li.product .post_data .post_header h3,
	.single-product ul.products li.product .post_data .post_header .woocommerce-loop-product__title {
		@include font(14px, 16px);
	}
	.single-product ul.products li.product .post_data .price {
		margin: 12px 0;
		font-size: 1.2em;
	}
	.single-product ul.products li.product .post_data .button {
		display:none;
	}
	
	#add_payment_method table.cart input, .woocommerce-cart table.cart input, .woocommerce-checkout table.cart input {
		line-height: 16px;
	}
	
	.woocommerce table.shop_table {
		letter-spacing:0;
	}
	
	.woocommerce table.shop_table_responsive thead, .woocommerce-page table.shop_table_responsive thead {
		display:table-header-group;
	}
	.woocommerce table.shop_table_responsive tbody th, .woocommerce-page table.shop_table_responsive tbody th {
		display:table-cell;
	}
	.woocommerce table.shop_table th {
		text-transform:none;
		font-weight:400;
        font-size: 11px;
	}
	.woocommerce td.product-quantity {
		min-width: 0;
	}
	.woocommerce .shop_table.cart div.quantity, .woocommerce-page .shop_table.cart div.quantity {
		width:auto;
	}
	.woocommerce div.product form.cart div.quantity input[type="number"],
	.woocommerce-page div.product form.cart div.quantity input[type="number"],
	.woocommerce .shop_table.cart div.quantity input[type="number"],
	.woocommerce-page .shop_table.cart div.quantity input[type="number"] {
		font-size: 1em;
		text-align: left;
		padding-left: 10px;
	}
	.woocommerce table.cart th,
	.woocommerce #content table.cart th,
	.woocommerce-page table.cart th,
	.woocommerce-page #content table.cart th,
	.woocommerce table.cart td,
	.woocommerce #content table.cart td,
	.woocommerce-page table.cart td,
	.woocommerce-page #content table.cart td {
		padding:3px;
	}
	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		float: none;
		display:block;
	}
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text {
		padding-left: 0.5em;
		padding-right: 0.5em;
		float:left;
	}
	.woocommerce table.cart td.actions .coupon .input-text + .button,
	.woocommerce #content table.cart td.actions .coupon .input-text + .button,
	.woocommerce-page table.cart td.actions .coupon .input-text + .button,
	.woocommerce-page #content table.cart td.actions .coupon .input-text + .button {
		float:right;
	}
	.woocommerce table.cart td.actions .coupon + .button,
	.woocommerce #content table.cart td.actions .coupon + .button,
	.woocommerce-page table.cart td.actions .coupon + .button,
	.woocommerce-page #content table.cart td.actions .coupon + .button {
		width: 100%;
	}
}