#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title {
    font-size: 1.25em !important;
    font-family: inherit !important;
}
.scheme_default #tribe-events .tribe-events-button, .scheme_default .tribe-events-button,
.scheme_default .tribe-events-calendar thead th {
    font-family: futura-pt-bold, sans-serif !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.1rem !important;
}
.scheme_default .tribe-events-calendar thead th {
    font-size: 14px !important;
}
.scheme_default #tribe-events .tribe-events-button, .scheme_default .tribe-events-button {
    color: #2d2929 !important;
}
.scheme_default #tribe-events-content .tribe-events-calendar .type-tribe_events.tribe-event-featured div[id*="tribe-events-event-"] h3.tribe-events-month-event-title a {
    color: #fff !important;
}
#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
    background: #d6dc4a;
}
.scheme_default .tribe-events-calendar .tribe-events-tooltip {
    color: #fff !important;
    background: #1a363b !important;
    padding: 2rem;
    border: 0 !important;
}
.scheme_default .tribe-events-calendar .tribe-events-tooltip h3 {
    color: #d6dc4a !important;
    padding: 0 !important;
    margin-top: 0 !important;
}
.scheme_default .tribe-events-tooltip .tribe-events-arrow {
    background: #1a363b !important;
}
.tribe-events-tooltip .tribe-events-arrow {
    bottom: -6px !important;
}
.tribe-events-tooltip .tribe-events-event-body {
    padding: 0 !important;
}
#tribe-bar-form input[type="text"] {
    padding: 1rem !important;
    border-radius: 0 !important;
}
.tribe-bar-submit,
.tribe-bar-search-filter,
.tribe-bar-date-filter {
    padding-right: 1rem !important;
}
.tribe-bar-submit {
    width: 24.2% !important;
}
#tribe-bar-form #tribe-bar-views {
    left: 77% !important;
    width: 21% !important;
}
#tribe-bar-form.tribe-bar-full.tribe-events-bar--has-views #tribe-bar-filters-wrap {
    width: 77%;
}
#tribe-bar-form.tribe-bar-full.tribe-events-bar--has-filters #tribe-bar-views {
    width: 23% !important;
}
#tribe-bar-form #tribe-bar-views .tribe-bar-views-inner .tribe-bar-views-toggle {
    background: #1a363b !important;
    color: #d6dc4a !important;
    font-family: futura-pt-bold, sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    position: relative;
}
.scheme_default #tribe-bar-form.tribe-bar-collapse #tribe-bar-collapse-toggle,
#tribe-events-footer .tribe-events-sub-nav li a {
    background: #d6dc4a !important;
    color: #2d2929 !important;
    font-family: futura-pt-bold, sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    position: relative;
}
#tribe-bar-form #tribe-bar-views .tribe-bar-views-inner .tribe-bar-views-toggle:before {
    content: 'Change view - ';
    color: #d6dc4a !important;
    font-family: futura-pt-bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
#tribe-bar-views .tribe-bar-views-list li:last-child,
#tribe-bar-views .tribe-bar-views-list li:first-child {
    border-radius: 0 !important;
}
#tribe-bar-views .tribe-bar-views-list {
    border-radius: 0 !important;
}
.events-list .tribe-events-loop {
    max-width: 100% !important;
}
.tribe-events-list .type-tribe_events {
    border-bottom: 0;
}
.tribe-events-list-separator-month {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}
.tribe-events-list .tribe-events-list-separator-month {
    margin: 2.5em auto 0.5em !important;
    padding: 10px 2.5rem !important;
}
.type-tribe_events .tribe-events-list-event-description.tribe-events-content.description.entry-summary a {
    background: #d6dc4a !important;
    color: #2d2929 !important;
    font-family: futura-pt-bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem !important;
    display: inline-block;
}
.tribe-events-list .tribe-events-loop .tribe-events-event-image {
    width: 50%;
    margin: 0;
}
.tribe-events-list .tribe-events-event-image+div.tribe-events-content.tribe-events-list-event-description {
    width: 47%;
    float: right;
}
.tribe-events-list .type-tribe_events {
    padding-top: 2em !important;
    margin-top: 0 !important;
}
.tribe-events-list .tribe-event-featured.type-tribe_events {
    padding-top: 0 !important;
    margin-top: 3em !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title {
    margin: 2rem 1.5rem 0;
}
.tribe-event-featured .author.location,
.tribe-event-featured {
    margin: 0 1.5rem;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-content {
    margin: 0 1.5rem 2rem;
}
.tribe-events-list .tribe-events-loop .tribe-events-content {
    text-align: left !important;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a {
    color: #2d2929 !important;
    font-family: futura-pt-bold, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured {
    background: #d6dc4a !important;
    color: #2d2929 !important;
}
.type-tribe_events.tribe-event-featured .tribe-events-list-event-description.tribe-events-content.description.entry-summary a,
.tribe-event-featured .tribe-events-read-more {
    margin-top: 0;
    background: #1a363b !important;
    color: #d6dc4a !important;
    font-family: futura-pt-bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem !important;
    display: inline-block;
}
.tribe-updated.published.time-details,
.tribe-event-schedule-details {
    font-family: futura-pt-bold, sans-serif !important;
    font-size: 16px !important;
}
.tribe-event-featured .tribe-event-schedule-details {
    opacity: 1 !important;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured a.tribe-events-gmap,
.tribe-event-featured .author.location,
.tribe-event-featured .tribe-event-schedule-details {
    color: #2d2929 !important;
    font-family: futura-pt-bold, sans-serif !important;
    font-size: 16px !important;
    opacity: 0.6;
}
.tribe-events-day-time-slot .tribe-event-featured .tribe-events-event-meta,
.tribe-event-featured .author.location {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.tribe-events-day-time-slot .tribe-event-featured .tribe-events-event-meta {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #2d2929 !important;
    font-family: futura-pt-bold, sans-serif !important;
    font-size: 16px !important;
    opacity: 0.6;

}
.tribe-events-event-meta .tribe-event-schedule-details {
    margin-bottom: 0 !important;
}
.tribe-events-list .tribe-events-venue-details {
    margin: 5px 0 !important;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-content {
    color: #2d2929 !important;
    width: inherit;
}
.scheme_default .tribe-mobile .tribe-events-loop .tribe-events-event-meta {
    background: transparent !important;
    border: 0 !important;
}

/*** PAGE ***/
.tribe-events-pg-template {
    margin-bottom: 6rem !important;
}
.tribe-events-single {
    position: relative;
}
.single-tribe_events .tribe-events-single-event-title,
.single-tribe_events .tribe-events-schedule {
    display: block !important;
}
.single-tribe_events .tribe-events-schedule h2 {
    font-size: 20px !important;

}
.single-tribe_events .tribe-events-schedule {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
}
.single-tribe_events .tribe-events-single-event-title {
    background: #efeeea;
    padding: 5rem 0 7rem;
}

.single-tribe_events .tribe-events-event-image {
    width: 100% !important;
}
.single-tribe_events .tribe-events-single-section.secondary,
.single-tribe_events .tribe-events-single-section.primary {
    background-color: #efeeea !important;
    padding: 3rem !important;
    width: 48% !important;
    min-height: 480px !important;
    margin-top: 3rem;
}
.single-tribe_events .tribe-events-single-section.secondary {
    float: right !important;
}
.single-tribe_events .tribe-events-single-section h2 {
    font-size: 19px !important;
    font-family: futura-pt-bold, sans-serif !important;
}
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
    font-size: 19px !important;
    font-family: futura-pt-bold, sans-serif !important;
    opacity: 0.7;
}
/************** DAY LIST VIEW *******************/
.tribe-events-day .tribe-events-loop {
    max-width: 100% !important;
}
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events {
    margin-bottom: 4vw;
}
/************************ RESPONSIVE *************************/



/** MEDIUM **/
@media (max-width: 1023px) {
    .tribe-events-event-meta .tribe-event-schedule-details {
        padding-left: 0 !important;
    }
    .tribe-events-list .type-tribe_events {
        padding-bottom: 2em !important;
    }
    .single-tribe_events .tribe-events-single-section.secondary,
    .single-tribe_events .tribe-events-single-section.primary {
        width: 100% !important;
        min-height: inherit !important;
    }
    .single-tribe_events .tribe-events-schedule {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0 3rem;
        margin-bottom: 0;
        top: 102px;
    }
    .single-tribe_events .tribe-events-schedule h2 {
        font-size: 14px !important;
    }
}
@media (max-width: 768px) {
    .single-tribe_events .tribe-events-single-section.secondary,
    .single-tribe_events .tribe-events-single-section.primary {
        min-height: inherit !important;
    }
    .single-tribe_events .tribe-events-event-meta .tribe-events-meta-group {
        width: 100% !important;
    }
    .single-tribe_events .tribe-events-event-meta .tribe-events-meta-group + .tribe-events-meta-group {
        margin-left: 0 !important;
    }
    .tribe-events-list .tribe-events-loop .tribe-events-event-image {
        width: 100%;
        float: none;
    }
    .tribe-events-list .tribe-events-event-image+div.tribe-events-content.tribe-events-list-event-description {
        width: 100%;
        float: none;
    }
    .tribe-events-list .tribe-events-event-image img {
        width: 100%;
        height: auto;
    }
    .tribe-events-list .tribe-events-venue-details {
        border: 0;
    }
    .tribe-events-list .tribe-events-list-separator-month {
        margin: 1.5em auto !important;
    }
    .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title {
        /*margin-left: 0;*/
        margin-top: 3rem;
    }
    .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-meta,
    .tribe-event-featured .author.location {
        margin: 0 1.5rem 0 !important;
    }
    .tribe-event-featured {
        margin-top: 3rem !important;
    }
    .tribe-events-list .tribe-events-venue-details {
        padding-left: 0;
        padding-right: 0;
    }
    .tribe-event-featured .tribe-events-read-more {
        margin-top: 2rem;
    }
    #tribe-events .tribe-events-loop .tribe-events-content {
        margin-top: 2rem;
    }
    #tribe-events .tribe-events-loop .tribe-event-featured .tribe-events-content {
        padding: inherit;
        margin: inherit;
        margin-top: 0;
    }
    .tribe-events-list .type-tribe_events {
        padding-bottom: 2em !important;
    }
}